<style type="text/css">
  .tg {
      border-collapse: collapse;
      border-spacing: 0;
  }

  .tg td {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
  }

  .tg th {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
  }

  .tg .tg-i5mt {
      color: rgb(0, 0, 0);
      font-style: italic;
      text-align: left;
      vertical-align: top;
      border-color: black;
  }

  .tg .tg-lu0m {
      color: rgb(0, 0, 0);
      text-align: left;
      vertical-align: top;
      border-color: black;
  }

  .tg .tg-id4x {
      background-color: rgb(0, 177, 64);
      border-color: black;
      color: white;
      font-weight: bold;
      text-align: left;
      vertical-align: top;
  }

  .tg .tg-pf96 {
      background-color: rgb(0, 177, 64);
      color: white;
      border-color: black;
      font-weight: bold;
      text-align: left;
      vertical-align: top;
  }

  .tg .tg-2kyj {
      color: rgb(0, 0, 0);
      border-color: black;
      font-weight: bold;
      text-align: left;
      vertical-align: top;
  }
</style>
<p>
<table class="tg">
<thead>
  <tr>
      <th class="tg-id4x" colspan="4">
        Versión beta 3.0 del Estándar de metadatos para conjuntos de datos y bases de datos de la Administración Pública de
        la Ciudad de México
      </th>
  </tr>
</thead>
<tbody>
  <tr>
      <td class="tg-pf96">Nombre del campo</td>
      <td class="tg-pf96">Obligatoriedad</td>
      <td class="tg-pf96">Especificaciones</td>
      <td class="tg-pf96">Ejemplo</td>
  </tr>
  <tr>
    <td class="emph">ID del conjunto de datos o base de datos</td>
    <td>Campo autogenerado</td>
    <td>Código numérico único, asignado al conjunto de datos o base de datos.</td>
    <td class="italic">100210574</td>
  </tr>
  <tr>
    <td class="emph">Título</td>
    <td>Obligatorio</td>
    <td>Nombre completo del conjunto de datos o base de datos que contenga periodo y lugar de referencia.</td>
    <td class="italic">Inventario de programas y acciones sociales implementados durante la pandemia por COVID-19
      en la Ciudad de México</td>
  </tr>
  <tr>
    <td class="emph">Descripción</td>
    <td>Obligatorio</td>
    <td>Resumen breve del contenido del conjunto de datos o base de datos. Debe responder las siguientes preguntas: <br><br>
      <ol>
        <li><strong>1. ¿Qué información contienen los datos?</strong></li>
        <li><strong>2. ¿Para qué sirven los datos?</strong></li>
        <li><strong>3. ¿Cómo se generan y/o se recolectan los datos?</strong></li>
      </ol>
      <br>
    </td>
    <td class="italic">Programas y acciones sociales implementados por el Gobierno de la Ciudad de México a partir del 13 de marzo  para atender a la ciudadanía, en el contexto de  la pandemia por  COVID-19. Se recolecta a través  de los registros administrativos proporcionados por cada una de las dependencias responsables.</td>
  </tr>
  <tr>
    <td class="emph">Fecha de primer registro</td>
    <td>Obligatorio</td>
    <td>Fecha en el que se captó el primer registro del conjunto de datos o base de datos.
      <br><strong>Formato: (aaaa-mm-dd)</strong>.</td>
    <td class="italic"d>2020-01-30</td>
  </tr>
  <tr>
    <td class="emph">Fecha de último registro </td>
    <td>Obligatorio</td>
    <td>Fecha en el que se captó el último registro del conjunto de datos o base de datos.
      <br><strong>Formato: (aaaa-mm-dd)</strong>.</td>
    <td class="italic">2020-05-15</td>
  </tr>
  <tr>
    <td class="emph">Última fecha de actualización</td>
    <td>Obligatorio</td>
    <td>Última fecha en la que se realizaron cambios y/o adiciones al conjunto de datos o base de datos.
      <br><strong>Formato: (aaaa-mm-dd)</strong>.</td>
    <td class="italic">2020-06-13</td>
  </tr>

  <tr>
    <td class="emph">Frecuencia de actualización</td>
    <td>Obligatorio</td>
    <td>Frecuencia con la que se tiene previsto se realizarán cambios y/o adiciones a los datos. <br><br>Puede ser:<br>
      <ul>
          <li>- Anual</li>
          <li>- Semestral</li>
          <li>- Trimestral</li>
          <li>- Bimestral</li>
          <li>- Mensual</li>
          <li>- Quincenal</li>
          <li>- Semanal</li>
          <li>- Diaria</li>
          <li>- Única</li>
          <li>- No programada</li>
          <li>- Otra (especificar)</li>
        <ul>
      </td>
    <td class="italic">Semanal</td>
  </tr>
  <tr>
    <td class="emph">Cobertura geográfica</td>
    <td>Obligatorio</td>
    <td>Espacio territorial al que se refieren los datos. <br> Ejemplos de cobertura geográfica son:<br><br>
      <ul>
        <li>- Ciudad de México</li>
        <li>- Zona Metropolitana del Valle de México</li>
        <li>- Alcaldía Benito Juárez</li>
        <li>- Pueblo de Xoco</li>
        <li>- Centro Histórico de la Ciudad de México</li>
      </ul>
    </td>
    <td class="italic">Ciudad de México</td>
  </tr>
  <tr>
    <td class="emph">Desagregación geográfica</td>
    <td>Obligatorio</td>
    <td>La unidad geográfica más pequeña observada en los datos.<br><br>Puede ser:<br>
      <ul>
        <li>- Estatal</li>
        <li>- Alcaldía</li>
        <li>- Localidad</li>
        <li>- Manzana</li>
        <li>- Área Geoestadística Básica (AGEB)</li>
        <li>- Barrio</li>
        <li>- Colonia</li>
        <li>- Pueblo</li>
        <li>- Predio</li>
        <li>- Polígono</li>
        <li>- Cuadrante</li>
        <li>- Latitud y Longitud (punto geográfico)</li>
        <li>- Trayecto geográfico</li>
        <li>- Otra</li>
        <li>- No aplica</li>
      </ul>
    </td>
    <td class="italic">Alcaldía</td>
  </tr>

  <tr>
    <td class="emph">Tema</td>
    <td>Obligatorio</td>
    <td>Clasificación de la temática principal, de acuerdo con las siguientes categorías:<br><br>
      <ul>
          <li>- Conectividad, telecomunicaciones y radiodifusión </li>
          <li>- Desarrollo económico</li>
          <li>- Desarrollo urbano, vivienda y territorio</li>
          <li>- Educación, ciencia y tecnología</li>
          <li>- Empleo y ocupación</li>
          <li>- Gestión de riesgos y protección civil</li>
          <li>- Gobierno, administración y finanzas públicas</li>
          <li>- Inclusión y bienestar social</li>
          <li>- Igualdad y no discriminación</li>
          <li>- Medio ambiente y cambio climático</li>
          <li>- Movilidad</li>
          <li>- Participación ciudadana</li>
          <li>- Recreación, cultura y deporte</li>
          <li>- Salud</li>
          <li>- Seguridad ciudadana y procuración de justicia</li>
          <li>- Turismo</li>
        </ul>
      </td>
    <td class="italic">Salud</td>
  </tr>
  <tr>
    <td class="emph">Palabras clave</td>
    <td>Obligatorio</td>
    <td>Palabras o etiquetas clave que describen de manera general el contenido de los datos, separadas por comas (de 6 a 8 palabras).</td>
    <td class="italic">coronavirus, covid19, covid-19, rendición de cuentas, acciones sociales, programas, beneficiarios.</td>
  </tr>
  <tr>
    <td class="emph">Formato</td>
    <td>Obligatorio</td>
    <td>Formato en que el conjunto de datos se codifica y almacena en un archivo informático. <br><br>Puede ser:<br>
      <ul>
        <li>-.xlsx</li>
        <li>-.xls</li>
        <li>-.csv</li>
        <li>-.xml</li>
        <li>-.accdb</li>
        <li>-.dbf</li>
        <li>-.sql</li>
        <li>-.rdf</li>
        <li>-.json</li>
        <li>-.cql</li>
        <li>-.db</li>
        <li>-.laccdb</li>
        <li>-.mdb</li>
        <li>-.mdf</li>
        <li>-.ndb</li>
        <li>-.ndf</li>
        <li>-.pdb</li>
        <li>-.rds</li>
        <li>-.rdb</li>
        <li>-.sdb</li>
        <li>-.shx</li>
        <li>-.sqlite</li>
        <li>-.tdb</li>
        <li>-.tsv</li>
        <li>-.wdb</li>
        <li>-Otro</li>
        </ul>
      </td>
    <td class="italic">.csv</td>
  </tr>
  <tr>
    <td class="emph">Tamaño (MB)<br></td>
    <td>Obligatorio</td>
    <td>Volumen del archivo del conjunto de datos o base de datos en unidades de almacenamiento de información, expresado en Megabytes (MB). Se debe poner sólo el número, sin la unidad de medida.</td>
    <td class="italic">2.87</td>
  </tr>
  <tr>
    <td class="emph">Número de campos o variables</td>
    <td>Obligatorio</td>
    <td>Número de campos o variables que conforman el conjunto de datos o base de datos (columnas).</td>
    <td class="italic">15</td>
  </tr>
  <tr>
    <td class="emph">Número de registros u observaciones</td>
    <td>Obligatorio</td>
    <td>Número de registros que contiene el conjunto de datos o base de datos (filas).</td>
    <td class="italic">2345</td>
  </tr>
  <tr>
    <td class="emph">Idioma</td>
    <td>Obligatorio</td>
    <td>Idioma en el que se presenta la información en el conjunto de datos o base de datos. <br><br> Puede ser:<br>
      <ul>
        <li>-Lengua indígena </li>
        <li>-Español</li>
        <li>-Inglés</li>
        <li>-Francés</li>
        <li>-Otro</li>
      </ul>
      </td>
    <td class="italic">Español</td>
  </tr>
  <tr>
    <td class="emph">Especificaciones técnicas y/o metodológicas</td>
    <td>Opcional</td>
    <td>Cualquier tipo de aclaración sobre el proceso metodológico o técnico de la generación,
      recolección y/o procesamiento del conjunto de datos, que sea necesaria para poder analizarlos correctamente.<br> <br>Se deben precisar aquellas modificaciones que puedan generar variaciones en los datos, como cambios en definiciones, mediciones y metodologías.</td>
    <td class="italic">La información presentada puede variar debido a que las dependencias tienen la
      facultad de implementar cambios en sus acciones sociales para responder de manera inmediata a
      contingencias o emergencias y tienen un plazo de 15 días hábiles para remitir sus lineamientos
      de operación al Consejo de Evaluación del Desarrollo Social de la Ciudad de México,
      en caso de requerir que esas acciones se prolonguen por la emergencia.</td>
  </tr>
  <tr>
    <td class="emph">Material de referencia o apoyo</td>
    <td>Opcional</td>
    <td>Materiales de referencia asociados al conjunto de datos que aporten mayor
      información sobre los datos: documentos de apoyo técnico, metodológico y/o conceptual,
      como síntesis metodológica, manuales, etc.<br>Deben ponerse como URI o URL, separados por comas.
      En caso de no existir, deben adjuntarse los archivos.</td>
    <td class="italic"> <a style="color:rgb(0,0,255);" href="https://data.consejeria.cdmx.gob.mx/portal_old/uploads/gacetas/ddcac298af1eb9c3e3235ac7890a9a32.pdf" target="_blank"> <title="Primer Decreto por el que se declaran acciones extraordinarias en la Ciudad de México para evitar el contagio y propagación del COVID-1"><span class="underline">https://data.consejeria.cdmx.gob.mx/portal/old/uploads/gacetas/ddcac_pdf/</span></a> </td>
  </tr>
  <tr>
    <td class="emph">Diccionario de datos</td>
    <td>Opcional</td>
    <td>Archivo que describe detalladamente todos los campos o variables contenidas en la  base y/o conjunto de datos.
      Deben ponerse como URI o URL. En caso de no existir, deben adjuntarse los archivos en csv.</td>
    <td class="italic"> <a style="color:rgb(0,0,255);" href="https://datos.cdmx.gob.mx/api/datasets/1.0/inventario-de-acciones-y-programas-sociales-rendicion-de-cuentas/attachments/diccionario_de_datos_csv/" title="Diccionario de inventario de datos y programas sociales"> <span class="underline">https://datos.cdmx.gob.mx/api/datasets/1.0/inventario-de-acciones-y-programas-sociales-rendicion-de-cuentas/attachments/diccionario_de_datos_csv/</span> </a> </td>
  </tr>
  <tr>
    <td class="emph">URL a APIs de servicios web</td>
    <td>Opcional</td>
    <td>Las APIs son interfaces de desarrollo de aplicaciones que permiten el intercambio de información
      entre un servicio web (software que da acceso a un servicio concreto a través de una URL) y una aplicación.</td>
        </td>
    <td class="italic"> <a style="color:rgb(0,0,255);" href="https://datos.cdmx.gob.mx/api/records/1.0/search/?dataset=inventario-de-acciones-y-programas-sociales-rendicion-de-cuentas&q=&facet=unidad_responsable&facet=categoria" target="_blank"> <title="API de inventario de datos y programas sociales"> <span class="underline">https://datos.cdmx.gob.mx/api//1.0/search/?dataset=inventario-de-acciones-y-sociales-categoria </span> </a> </td>
  </tr>
  <tr>
    <td class="emph">Propietario y/o Publicador de los datos.</td>
    <td>Obligatorio</td>
    <td>Nombre completo del ente o institución propietaria y/o publicador del conjunto de datos o base de datos.</td>
    <td class="italic">Secretaría de Gobierno</td>
  </tr>
  <tr>
    <td class="emph">Nombre del contacto de los datos</td>
    <td>Obligatorio</td>
    <td>Nombre completo de la persona que funge como contacto para dar información
      sobre el conjunto de datos o base de datos.</td>
    <td class="italic">María Castro León</td>
  </tr>
  <tr>
    <td class="emph">Nombre de la dirección o área responsable de los datos</td>
    <td>Obligatorio</td>
    <td>Nombre completo de la dirección o área responsable de la información</td>
    <td class="italic">Dirección de Apertura y Monitoreo del Gasto</td>
  </tr>
  <tr>
    <td class="emph">Correo electrónico institucional de contacto</td>
    <td>Obligatorio</td>
    <td>Correo electrónico institucional de contacto para futuras consultas sobre el conjunto de datos o base de datos.</td>
    <td class="italic">m.castro.leon@cdmx.gob.mx</td>
  </tr>
  <tr>
    <td class="emph">Número telefónico institucional de contacto</td>
    <td>Opcional</td>
    <td>Teléfono institucional de contacto para futuras consultas sobre el conjunto de datos. Se debe escribir a <span class="underline">10 dígitos</span>, sin espacios, guiones, paréntesis u otro tipo de caracteres especiales.</td>
    <td class="italic">5555900500</td>
  </tr>
  <tr>
    <td class="emph">Extensión del número telefónico</td>
    <td>Opcional</td>
    <td>En caso de que exista una extensión directamente asociada al número telefónico institucional de contacto. Sin espacios, guiones, paréntesis u otro tipo de caracteres especiales. </td>
    <td class="italic">9119</td>
  </tr>
</tbody>
</table>
</p>
<style type="text/css">
  .tg {
      border-collapse: collapse;
      border-spacing: 0;
  }

  .tg td {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
  }

  .tg th {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
  }

  .tg .tg-i5mt {
      color: rgb(0, 0, 0);
      font-style: italic;
      text-align: left;
      vertical-align: top;
      border-color: black;
  }

  .tg .tg-lu0m {
      color: rgb(0, 0, 0);
      text-align: left;
      vertical-align: top;
      border-color: black;
  }

  .tg .tg-id4x {
      background-color: rgb(0, 177, 64);
      border-color: black;
      color: white;
      font-weight: bold;
      text-align: left;
      vertical-align: top;
  }

  .tg .tg-pf96 {
      background-color: rgb(0, 177, 64);
      color: white;
      border-color: black;
      font-weight: bold;
      text-align: left;
      vertical-align: top;
  }

  .tg .tg-2kyj {
      color: rgb(0, 0, 0);
      border-color: black;
      font-weight: bold;
      text-align: left;
      vertical-align: top;
  }
</style>
<p>
<table class="tg">
<thead>
  <tr>
      <th class="tg-id4x" colspan="4">
        Versión beta 3.0 del Estándar de metadatos para datos geoespaciales de la Administración Pública de la Ciudad de México
      </th>
  </tr>
</thead>
<tbody>
  <tr>
<td class="tg-pf96">Nombre del campo</td>
<td class="tg-pf96">Obligatoriedad</td>
<td class="tg-pf96">Especificaciones</td>
<td class="tg-pf96">Ejemplo</td>
</tr>
<tr>
<td class="emph">ID del conjunto de datos geoespaciales</td>
<td>Campo autogenerado</td>
<td>Código numérico único, asignado al conjunto de datos geoesespaciales.</td>
<td class="italic">314567</td>
</tr>
<tr>
<td class="emph">Título</td>
<td>Obligatorio</td>
<td>Nombre completo del conjunto de datos geoespaciales, que contenga periodo y lugar de referencia.</td>
<td class="italic">Conjunto de datos vectoriales de información topográfica E14A39 (Ciudad de México) escala 1:50 000 serie III.</td>
</tr>
<tr>
  <td class="emph">Descripción</td>
  <td>Obligatorio</td>
  <td>Resumen breve del conjunto de datos geoespaciales. Debe responder las siguientes preguntas: <br><br>
    <ol>
      <li><strong>1. ¿Qué información contienen los datos?</strong></li>
      <li><strong>2. ¿Para qué sirven los datos?</strong></li>
      <li><strong>3. ¿Cómo se generan y/o se recolectan los datos?</strong></li>
    </ol>
    <br>
  </td>
  <td class="italic">Contienen información sobre los diversos datos espaciales presentes en los conjuntos de datos, como curvas de nivel,
    hidrografía, vías de comunicación, localidades, entre otros.
    Estos rasgos sirven para representar digitalmente por un componente geométrico (puntos, líneas o áreas) y
    componentes descriptivos (los atributos del dato). Se generan a partir  de los topónimos o nombres geográficos
    que se incluyen como atributos propios de cada uno de los datos que conforman cada conjunto de datos.</td>
</tr>
<tr>
  <td class="emph">Fecha de primer registro</td>
  <td>Obligatorio</td>
  <td>Fecha en la que se captó el primer registro del conjunto de datos geoespaciales.
    <br><strong>Formato: (aaaa-mm-dd)</strong>.</td>
  <td class="italic"d>2019-08-10</td>
</tr>
<tr>
  <td class="emph">Fecha de último registro </td>
  <td>Obligatorio</td>
  <td>Fecha en la que se captó el último registro del conjunto de datos geoespaciales.
    <br><strong>Formato: (aaaa-mm-dd)</strong>.</td>
  <td class="italic">2020-06-19</td>
</tr>
<tr>
  <td class="emph">Última fecha de actualización</td>
  <td>Obligatorio</td>
  <td>Última fecha en la que se realizaron cambios y/o adiciones al conjunto de datos geoespaciales.
    <br><strong>Formato: (aaaa-mm-dd)</strong>.</td>
  <td class="italic">2020-05-15</td>
</tr>
<tr>
  <td class="emph">Frecuencia de actualización</td>
  <td>Obligatorio</td>
  <td>Frecuencia con la que se tiene previsto se realizarán cambios y/o adiciones a los datos.<br><br>Puede ser:<br>
    <ul>
        <li>- Anual</li>
        <li>- Semestral</li>
        <li>- Trimestral</li>
        <li>- Bimestral</li>
        <li>- Mensual</li>
        <li>- Quincenal</li>
        <li>- Semanal</li>
        <li>- Diaria</li>
        <li>- Única</li>
        <li>- No programada</li>
        <li>- Otra</li>
      <ul>
    </td>
  <td class="italic">Quincenal</td>
</tr>
<tr>
  <td class="emph">Cobertura geográfica</td>
  <td>Obligatorio</td>
  <td>Espacio territorial al que se refieren los datos. <br><br>Ejemplos de cobertura geográfica son:<br>
    <ul>
      <li>- Ciudad de México</li>
      <li>- Zona Metropolitana del Valle de México</li>
      <li>- Alcaldía Benito Juárez</li>
      <li>- Pueblo de Xoco</li>
      <li>- Centro Histórico de la Ciudad de México</li>
    </ul>
  </td>
  <td class="italic">Ciudad de México</td>
</tr>
<tr>
  <td class="emph">Desagregación geográfica</td>
  <td>Obligatorio</td>
  <td>La unidad geográfica más pequeña observada en los datos.<br><br>Puede ser:<br>
    <ul>
      <li>- Estatal</li>
      <li>- Alcaldía</li>
      <li>- Localidad</li>
      <li>- Manzana</li>
      <li>- Área Geoestadística Básica (AGEB)</li>
      <li>- Barrio</li>
      <li>- Colonia</li>
      <li>- Pueblo</li>
      <li>- Predio</li>
      <li>- Polígono</li>
      <li>- Cuadrante</li>
      <li>- Latitud y Longitud (punto geográfico)</li>
      <li>- Trayecto geográfico</li>
      <li>- Otra</li>
      <li>- No aplica</li>
    </ul>
  </td>
  <td class="italic">Localidad</td>
</tr>

<tr>
  <td class="emph">Tema</td>
  <td>Obligatorio</td>
  <td>Clasificación de la temática principal, de acuerdo con las siguientes categorías:<br><br>
    <ul>
        <li>- Agricultura, cría y explotación de animales</li>
        <li>- Atmósfera climatológica y meteorológica</li>
        <li>- Base de imágenes de mapas de la cobertura de la tierra</li>
        <li>- Biodiversidad</li>
        <li>- Conectividad, telecomunicaciones y radiodifusión</li>
        <li>- Comunicación de servicios</li>
        <li>- Desarrollo económico</li>
        <li>- Desarrollo urbano, vivienda y territorio</li>
        <li>- Economía</li>
        <li>- Educación, ciencia y tecnología</li>
        <li>- Empleo y ocupación</li>
        <li>- Estructura</li>
        <li>- Gestión de riesgos y protección civil</li>
        <li>- Gobierno, administración y finanzas públicas</li>
        <li>- Inclusión y bienestar social</li>
        <li>- Igualdad y no discriminación</li>
        <li>- Información geocientífica</li>
        <li>- Inteligencia militar</li>
        <li>- Localización</li>
        <li>- Medio ambiente y cambio climático</li>
        <li>- Movilidad</li>
        <li>- Participación ciudadana</li>
        <li>- Planeación catastral</li>
        <li>- Recreación, cultura y deporte</li>
        <li>- Salud</li>
        <li>- Seguridad ciudadana y procuración de justicia</li>
        <li>- Sociedad</li>
        <li>- Transportación</li>
        <li>- Turismo</li>
      </ul>
    </td>
  <td class="italic">Medio Ambiente</td>
</tr>
<tr>
  <td class="emph">Palabras claves</td>
  <td>Obligatorio</td>
  <td>Palabras o etiquetas clave que describen de manera general el contenido de los datos, separadas por comas (de 6 a 8 palabras).</td>
  <td class="italic">medio ambiente, localización, topografía</td>
</tr>
<tr>
  <td class="emph">Formato</td>
  <td>Obligatorio</td>
  <td>Formato en que el conjunto de datos de datos geoespaciales se codifica y almacena en un archivo informático. <br><br>Puede ser:<br>
    <ul>
      <li>-.shp</li>
      <li>-.dwg</li>
      <li>-.dxf</li>
      <li>-.kml</li>
      <li>-.kmz</li>
      <li> -GeoJson</li>
      <li> -TopoJSON</li>
      <li> -GeoRSS</li>
      <li> -GML</li>
      <li> -Mapbox</li>
      <li> -PostGIS</li>
      <li> -GIF</li>
      <li> -JPEG</li>
      <li> -BMP</li>
      <li> -TIFF</li>
      <li> -SVG</li>
      <li> -WMS</li>
      <li> -Otro</li>
      </ul>
    </td>
  <td class="italic">TopoJSON</td>
</tr>
<tr>
  <td class="emph">Tamaño (MB)<br></td>
  <td>Obligatorio</td>
  <td>Volumen del archivo del conjunto de datos geoespaciales en unidades de almacenamiento de información, expresado en Megabytes (MB). Se debe poner sólo el número, sin la unidad de medida.<br> <span class="underline">En caso de que existan archivos complementarios, se incluirá el volumen resultado de la suma de los mismos (sin comprimir).</span> </td>
  <td class="italic">245.68</td>
</tr>
<tr>
  <td class="emph">Número de atributos</td>
  <td>Obligatorio</td>
  <td>Número de atributos que conforman el conjunto de datos geospaciales.</td>
  <td class="italic">10</td>
</tr>
<td class="emph">Tipo de representación espacial </td>
<td>Obligatorio</td>
<td>Método usado para la representación espacial de la información geográfica.<br><br>Puede ser:<br>
  <ul>
    <li>-<strong>Vector</strong>:Los datos vectoriales se utilizan para representar datos espaciales.</li>
    <li>-<strong>Raster</strong>:Los datos malla o cuadrícula se utilizan también para representar datos espaciales.</li>
    <li>-<strong>Tabla del texto</strong>: Datos de texto o tabulares que se utilizan para representar datos espaciales.</li>
    <li>-<strong>TIN</strong>:Red de triángulos irregulares.</li>
    <li>-<strong>Modelo estéreo</strong>: Visión tridimensional formada por la intersección de los rayos homólogos de solapamiento de un par de imágenes consecutivas.</li>
    <li>-<strong>Video</strong>: Escena de una grabación de video.</li>
    <li>-<strong>Otro</strong>.</li>
    </ul>
  </td>
<td class="italic">Vector</td>
</tr>
<tr>
    <td class="emph">Geometría</td>
    <td>Obligatorio</td>
    <td>Tipo de geometría utilizado en los datos geoespaciales. <br><br>Puede ser:<br>
      <ul>
        <li>-Punto</li>
        <li>-Línea</li>
        <li>-Polígono</li>
        <li>-No aplica</li>
        </ul>
      </td>
    <td class="italic">Polígono</td>
  </tr>
  <tr>
    <td class="emph">Extensión<br></td>
    <td>Obligatorio</td>
    <td>Coordenadas extremas de la información<br><br>Puede ser:<br>
      <ul>
        <li>-Norte</li>
        <li>-Sur</li>
        <li>-Este</li>
        <li>-Oeste</li>
        <li>-No aplica</li>
        </ul>
      </td>
    <td class="italic">Norte</td>
  </tr>
  <tr>
    <td class="emph">Unidades del sistema de referencia</td>
    <td>Obligatorio</td>
    <td>De acuerdo al Sistema de referencia especificado (UTM: metros; Geográfica: grados, etc).</td>
    <td class="italic">Grados</td>
  </tr>
  <tr>
    <td class="emph">Unidades de coordenadas geográficas</td>
    <td>Obligatorio</td>
    <td>Unidades de medida usadas para los valores de latitud y longitud.<br><br>Puede ser:<br>
      <ul>
          <li>-Grados decimales</li>
          <li>-Minutos decimales</li>
          <li>-Segundos decimales</li>
          <li>-Grados y minutos</li>
          <li>-Decimales</li>
          <li>-Grados, minutos y segundos decimales</li>
          <li>-Radianes</li>
          <li>-Grados</li>
          <li>-No aplica</li>
        </ul>
        </td>
    <td class="italic">Grados decimales</td>
  </tr>
  <tr>
    <td class="emph">Forma de presentación digital de los datos espaciales</td>
    <td><br></td>
    <td>Formato en el que se presenta el conjunto de datos espaciales, <strong>de forma digital</strong>.<br><br>Puede ser:<br>
      <ul>
        <li>-Documento</li>
        <li>-Imagen</li>
        <li>-Mapa</li>
        <li>-Modelo</li>
        <li>-Perfil</li>
        <li>-Tabla</li>
        <li>-Video</li>
        <li>-No aplica</li>
      </ul>
    </td>
    <td class="italic">Mapa</td>
  </tr>
  <tr>
    <td class="emph">Proyección Cartográfica</td>
    <td><br></td>
    <td>Representación sistemática de toda o parte de la superficie terrestre sobre un plano o una superficie desarrollable.<br>
      <br>Puede ser:<br>
      <ul>
        <li>-Cónica Conforme de Lambert</li>
        <li>-Paralelo estándar</li>
        <li>-Longitud del meridiano central</li>
        <li>-Latitud del origen de proyección</li>
        <li>-Falso este</li>
        <li>-Falso norte</li>
        <li>-Transversa de Mercator</li>
        <li>-Longitud del meridiano central</li>
        <li>-Latitud del origen de proyección</li>
        <li>-Factor de escala en el ecuador</li>
        <li>-Elipsoide</li>
        <li>-Geoide Gravimétrico Mexicano</li>
        <li>-No aplica</li>
      </ul>
      </td>
    <td class="italic">Cónica Conforme de Lambert</td>
  </tr>
  <tr>
    <td class="emph">Idioma</td>
    <td>Obligatorio</td>
    <td>Idioma en el que se presenta la información en el conjunto de datos geoespaciales.<br><br>Puede ser:
      <ul>
        <li>-Lengua indígena </li>
        <li>-Español</li>
        <li>-Inglés</li>
        <li>-Francés</li>
        <li>-Otra</li>
      </ul>
      </td>
    <td class="italic">Español</td>
  </tr>
  <tr>
    <td class="emph">Especificaciones técnicas y/o metodológicas</td>
    <td>Opcional</td>
    <td>Cualquier tipo de aclaración sobre el proceso metodológico o técnico de la generación, recolección y/o procesamiento del conjunto de datos geoespaciales, que sea necesaria para poder analizarlos correctamente.<br><br>Se deben precisar aquellas modificaciones que puedan generar variaciones en los datos, como cambios en definiciones, mediciones y metodologías. </td>
    <td class="italic">Grupo de datos topográficos: Subdivisión de la Infraestructura de Datos Espaciales de México que contiene elementos que caracterizan parte o toda la superficie terrestre, constituidos por datos referidos a los componentes físicos del paisaje y de los correspondientes a objetos de infraestructura humana. Particularizan un terreno en su configuración superficial, permitiendo la identificación de la disposición y forma de sus partes y lo distinguen de otros semejantes.</td>
  </tr>
  <tr>
    <td class="emph">Material de referencia o apoyo</td>
    <td>Opcional</td>
    <td>Materiales de referencia asociados al conjunto de datos que aporten mayor información sobre los datos: documentos de apoyo técnico, metodológico y/o conceptual, como síntesis metodológica, manuales, etc. <br>Deben ponerse como URI o URL, separados por comas. En caso de no existir, deben adjuntarse los archivos. </td>
    <td class="italic"><a style="color:rgb(0,0,255);" href="https://www.inegi.org.mx/app/biblioteca/ficha.html?upc=702825292812" target="_blank"> <title="Marco geoestadístico 2010 versión 5.0 (Censo de Población y Vivienda 2010)"> <span class="underline">https://www.inegi.org.mx/app/biblioteca/ficha.html?upc=702825292812</span> </a> </td>
  </tr>
  <tr>
    <td class="emph">Diccionario de datos</td>
    <td>Opcional</td>
    <td>Archivo que describe detalladamente todos los campos o variables contenidas en la  base y/o conjunto de datos. Deben ponerse como URI o URL. En caso de no existir, deben adjuntarse los archivos en csv.</td>
    <td class="italic">No aplica</td></td>
  </tr>
  <tr>
    <td class="emph">URL a APIs de servicios web</td>
    <td>Opcional</td>
    <td>Las APIs son interfaces de desarrollo de aplicaciones que permiten el intercambio de información
      entre un servicio web (software que da acceso a un servicio concreto a través de una URL) y una aplicación.</td>
        </td>
    <td class="italic"><a style="color:rgb(0,0,255);" href="https://datos.cdmx.gob.mx/api/records/1.0/search/?dataset=atlas-de-riesgo-vulnerabilidad-social-a-fracturamiento&q=&facet=intensidad&facet=alcaldia" target="_blank"> <title="Marco geoestadístico 2010 versión 5.0 (Censo de Población y Vivienda 2010)"> <span class="underline">https://datos.cdmx.gob.mx/api/records/1.0/dataset=atlas-riesgo-social-a-fracturamiento=alcaldia</span> </a></td>
  </tr>

  <tr>
    <td class="emph">Propietario y/o Publicador de los datos.</td>
    <td>Obligatorio</td>
    <td>Nombre completo del ente o institución propietaria y/o publicador del conjunto de datos geospaciales.</td>
    <td class="italic">Secretaría de Medio Ambiente</td>
  </tr>
  <tr>
    <td class="emph">Nombre del contacto de los datos.</td>
    <td>Opcional</td>
    <td>Nombre completo de la persona que funge como contacto para dar información sobre el conjunto de datos geoespaciales.</td>
    <td class="italic">Julio Domínguez de León</td>
  </tr>
  <tr>
    <td class="emph">Nombre de la dirección o área responsable de los datos</td>
    <td>Obligatorio</td>
    <td>Nombre de la dirección o área responsable de los datos.</td>
    <td class="italic">Dirección General de Sistemas Topográficos</td>
  </tr>
  <tr>
    <td class="emph">Correo electrónico institucional de contacto</td>
    <td>Obligatorio</td>
    <td>Correo electrónico institucional de contacto para futuras consultas sobre el conjunto de datos geoespaciales.</td>
    <td class="italic">domingzljulio@cdmx.gob.mx</td>
  </tr>
  <tr>
    <td class="emph">Número telefónico institucional de contacto</td>
    <td>Opcional</td>
    <td>Teléfono institucional de contacto para futuras consultas sobre el conjunto de datos geoespaciales. Se debe escribir a <span class="underline">10 dígitos</span>, sin espacios, guiones, paréntesis u otro tipo de caracteres especiales.</td>
    <td class="italic">5558900522</td>
  </tr>
  <tr>
    <td class="emph">Extensión del número telefónico</td>
    <td>Opcional</td>
    <td>En caso de que exista una extensión directamente asociada al número telefónico institucional de contacto. Sin espacios, guiones, paréntesis u otro tipo de caracteres especiales.</td>
    <td class="italic">8719</td>
  </tr>
