
$green-accent : #00b140 !default;
$white :#ffffff !default;
$black-txt: #455464 !default;
$gray-bg: #f8f8f8 !default;
$grey2-txt: #969696 !default;

$content-width: 100%;
$body-background-color: $white;
$sidebar-color: $gray-bg;
$border-color: $gray-bg;
$body-text-color: $black-txt;
$body-heading-color: $black-txt;
$nav-child-link-color: $grey2-txt;
$search-result-preview-color: $black-txt;

$link-color: $green-accent;
$nav-list-link: $green-accent;
$gutter-spacing-sm: $sp-2 !default;
$btn-primary-color: $green-accent;
$base-button-color: $gray-bg;



#participacion{
    color: $green-accent;
    text-align: center;
    font-weight: bold;
}



.nav-list-link {
    color:  #00b140;
    
}

.main-content-wrap {
    padding-bottom: 0rem;
}


.site-footer {
    display: none;
    
}


.container {
    position: absolute;
    background-color:#00312d ;
    width: 100%;
    bottom: 0;
    max-width: 100%;
    
}

.main-content hr {
    margin-bottom: 0%;
    
}

element.style {
    padding-bottom: 0px;
}




