
$green-accent : #00b140 !default;
$white :#ffffff !default;
$black-txt: #455464 !default;
$gray-bg: #f8f8f8 !default;
$grey2-txt: #969696 !default;

$content-width: 1000px;
$body-background-color: $white;
$sidebar-color: $gray-bg;
$border-color: $gray-bg;
$body-text-color: $black-txt;
$body-heading-color: $black-txt;
$nav-child-link-color: $grey2-txt;
$search-result-preview-color: $black-txt;

$link-color: $green-accent !default;
$nav-list-link: $green-accent;
$gutter-spacing-sm: $sp-2 !default;
$btn-primary-color: $green-accent ;
$base-button-color: $gray-bg;

  .nav-list-expander{
  color: $green-accent !important;
}

.list-group-item.active{
  background-color: $green-accent !important;
  border-color: $green-accent !important;
}

#participacion{
    color: $green-accent;
    text-align: center;
    font-weight: bold;
}

.badge{
  font-weight: lighter !important;
  text-align: left !important;
  width: 50rem;
  
}

::selection {
  color: #fff;
  background: $green-accent !important;
}

.btn-link {
  color: #00312d !important;
}


.nonfooter {
 
   position: relative ;
  //min-height: 100% !important;
  display: block ;
  margin-bottom:200px ;

}



.site-footer {
    display: none;
    
}




footer {
  
   padding-top: 3%;
    background-color:#00312d !important;
    width: 107% !important;   
    
    bottom: 0 !important;


}

footer a {
  color: #ffffff !important;
}


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

