
<table style="border-collapse:collapse;" class=directorio_oi border=0>
<thead>
<tr>
  <th id="tableHTML_header_1">Ente Público</th>
  <th id="tableHTML_header_2">Oficial de Información</th>
  <th id="tableHTML_header_3">Teléfono</th>
  <th id="tableHTML_header_4">Correo</th>
</tr>
</thead>
<tbody>
<tr>
  <td id="tableHTML_column_1">Agencia de Atención Animal</td>
  <td id="tableHTML_column_2">José Octavio López Fernández</td>
  <td id="tableHTML_column_3">5552732855</td>
  <td id="tableHTML_column_4">jolopez@sedema.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Agencia de Promoción de Inversiones y Desarrollo para la Ciudad de México</td>
  <td id="tableHTML_column_2">Ernesto Romero Rodríguez</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">errodriguez@finanzas.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Agencia de Protección Sanitaria del Gobierno de la Ciudad de México</td>
  <td id="tableHTML_column_2">Dra. Martha Cruz Sánchez</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">martha.cruz501@gmail.com</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Álvaro Obregón</td>
  <td id="tableHTML_column_2">Miguel Ángel Gallardo López</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">gobierno.electronico@aao.cdmx.gob.mx; miguel.gallardo@aao.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Azcapotzalco</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Benito Juárez</td>
  <td id="tableHTML_column_2">Andrés Sánchez Miranda</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Coyoacán</td>
  <td id="tableHTML_column_2">Iris Achá Mendoza</td>
  <td id="tableHTML_column_3">5556592992</td>
  <td id="tableHTML_column_4">iacham@acoyoacan.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Cuajimalpa</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Cuauhtémoc</td>
  <td id="tableHTML_column_2">Diego David Domínguez
González</td>
  <td id="tableHTML_column_3">5524523208</td>
  <td id="tableHTML_column_4">ddominguez@alcaldiacuauhtemoc.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Gustavo A. Madero</td>
  <td id="tableHTML_column_2">Rafael Cuevas y Medina</td>
  <td id="tableHTML_column_3">5551182800 ext. 310</td>
  <td id="tableHTML_column_4">ademcggcti@agam.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Iztacalco</td>
  <td id="tableHTML_column_2">Rosendo Martínez López</td>
  <td id="tableHTML_column_3">5556543133 ext. 4000</td>
  <td id="tableHTML_column_4">rmartinez-informatica@iztacalco.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Iztapalapa</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Magdalena Contreras</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Miguel Hidalgo</td>
  <td id="tableHTML_column_2">Julio Cesár Reyes Hernández</td>
  <td id="tableHTML_column_3">5552767700 ext. 2045</td>
  <td id="tableHTML_column_4">julioreyes@miguelhidalgo.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Milpa Alta</td>
  <td id="tableHTML_column_2">Rosario Ericka Gómez Romero</td>
  <td id="tableHTML_column_3">5558623150 ext. 2013</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Tláhuac</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Tlalpan</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Venustiano Carranza</td>
  <td id="tableHTML_column_2">Guillermo Nájera Gómez</td>
  <td id="tableHTML_column_3">5557649400 ext. 1111</td>
  <td id="tableHTML_column_4">sub.informatica@vcarranza.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Alcaldía Xochimilco</td>
  <td id="tableHTML_column_2">José Luis Noguez Cortes</td>
  <td id="tableHTML_column_3">5553340600 ext. 3710</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Autoridad del Centro Histórico de la Ciudad de México</td>
  <td id="tableHTML_column_2">Roberto Carlos Ávila Medina</td>
  <td id="tableHTML_column_3">5557048200 ext. 314</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Caja de Previsión de la Policía Auxiliar de la Ciudad de México</td>
  <td id="tableHTML_column_2">Ricardo Juárez Calderón</td>
  <td id="tableHTML_column_3">5555882208 ext. 1014</td>
  <td id="tableHTML_column_4">diradministracion@caprepa.cdmx.gob.mx; lrjuarez@caprepa.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Caja de Previsión de la Policía Auxiliar de la Ciudad de México</td>
  <td id="tableHTML_column_2">Gladys Galaviz Sosa</td>
  <td id="tableHTML_column_3">5555882208 ext. 1014</td>
  <td id="tableHTML_column_4">diradministracion@caprepa.cdmx.gob.mx; ggalavizso@caprepa.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Caja de Previsión de la Policía Preventiva de la Ciudad de México</td>
  <td id="tableHTML_column_2">Christian Erik Vázquez Tovar</td>
  <td id="tableHTML_column_3">5551410807 ext. 1561 y 5061</td>
  <td id="tableHTML_column_4">cevazquezt@caprepol.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Caja de Previsión para Trabajadores a Lista de Raya del Gobierno de la Ciudad de México</td>
  <td id="tableHTML_column_2">Hilario Javier Bravo Castro</td>
  <td id="tableHTML_column_3">56981300 ext. 178</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Centro de Comando, Control, Cómputo, Comunicaciones y Contacto Ciudadano de la Ciudad de México</td>
  <td id="tableHTML_column_2">Elizabeth Campos Chavarría</td>
  <td id="tableHTML_column_3">5550363000 ext. 15017</td>
  <td id="tableHTML_column_4">ecamposc@c5.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Comisión de Búsqueda de Personas de la Ciudad de México</td>
  <td id="tableHTML_column_2">Silvestre Orozco Sánchez</td>
  <td id="tableHTML_column_3">5591314605</td>
  <td id="tableHTML_column_4">sorozcos@secgob.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Comisión de Filmaciones de la Ciudad de México</td>
  <td id="tableHTML_column_2">Eduardo Yribarren Borja</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Comisión Ejecutiva de Atención a Víctimas de la Ciudad de México</td>
  <td id="tableHTML_column_2">Luis Antonio Liberato Roblero</td>
  <td id="tableHTML_column_3">5518577112</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Comisión para la Reconstrucción de la Ciudad de México</td>
  <td id="tableHTML_column_2">José Luis Salazar Maya</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Consejería Jurídica y de Servicios Legales</td>
  <td id="tableHTML_column_2">César Barrera Chavira</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">cesarbach@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Consejo de Evaluación del Desarrollo Social de la Ciudad de México</td>
  <td id="tableHTML_column_2">Celia Cordova Villegas</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">ccordovav@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Consejo Económico y Social de la Ciudad de México</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Consejo para Prevenir y Eliminar la Discriminación de la Ciudad de México</td>
  <td id="tableHTML_column_2">Pablo Álvarez Icaza Longoria</td>
  <td id="tableHTML_column_3">5555128553</td>
  <td id="tableHTML_column_4">palvarez@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Corporación Mexicana de Impresión S.A. de C.V.</td>
  <td id="tableHTML_column_2">José Ignacio Hernández León</td>
  <td id="tableHTML_column_3">5555168586 ext. 229</td>
  <td id="tableHTML_column_4">ihernandezl@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Escuela de Administración Pública de la Ciudad de México</td>
  <td id="tableHTML_column_2">Mariela Denisse Ortiz González</td>
  <td id="tableHTML_column_3">5551307190 ext. 5207</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fideicomiso Centro Histórico de la Ciudad de México</td>
  <td id="tableHTML_column_2">Carlos Vicente Rivas Tovar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">crivast@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fideicomiso de Recuperación Crediticia de la Ciudad de México</td>
  <td id="tableHTML_column_2">Antonio Aguilar Sanchez</td>
  <td id="tableHTML_column_3">5557091227 ext. 247</td>
  <td id="tableHTML_column_4">aaguilars@finanzas.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fideicomiso Educación Garantizada del Distrito Federal</td>
  <td id="tableHTML_column_2">Josefina Salgado Vázquez</td>
  <td id="tableHTML_column_3">5511021730 ext. 4133</td>
  <td id="tableHTML_column_4">josefina.salgado@fideicomisoed.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fideicomiso Museo de Arte Popular Mexicano</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fideicomiso Museo del Estanquillo</td>
  <td id="tableHTML_column_2">Enrique Jimémez Cordero</td>
  <td id="tableHTML_column_3">5555213052 ext. 110</td>
  <td id="tableHTML_column_4">enrique@museodelestanquillo.com</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fideicomiso para el Fondo de Promoción para el Financiamiento del Transporte Público</td>
  <td id="tableHTML_column_2">Lídice Rocha Marenco</td>
  <td id="tableHTML_column_3">5552099913 ext. 1203</td>
  <td id="tableHTML_column_4">lrocham@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fideicomiso para la Promoción y Desarrollo del Cine Mexicano en el Distrito Federal</td>
  <td id="tableHTML_column_2">Felix Alberto Vázquez Pérez</td>
  <td id="tableHTML_column_3">5517193000 ext. 2116</td>
  <td id="tableHTML_column_4">admonprocine@gmail.com</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fideicomiso para la Reconstrucción Integral de la Ciudad de México</td>
  <td id="tableHTML_column_2">Silvia Alejandra Limón Carmona</td>
  <td id="tableHTML_column_3">5553458000 ext. 1631</td>
  <td id="tableHTML_column_4">slimon@finanzas.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fideicomiso Público del Fondo de Apoyo a la Procuración de Justicia del Distrito Federal.</td>
  <td id="tableHTML_column_2">Victor Hugo Pozos Cuellar</td>
  <td id="tableHTML_column_3">52009760 ext. 14090</td>
  <td id="tableHTML_column_4">victor_pozos@fgjcdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fiscalía General de Justicia</td>
  <td id="tableHTML_column_2">Jaime Alberto Enríquez Rodríguez</td>
  <td id="tableHTML_column_3">5552009900 ext. 9900</td>
  <td id="tableHTML_column_4">jaime_enriquez@fgjcdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fondo Ambiental Público del Distrito Federal</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fondo de Desarrollo Económico del Distrito Federal</td>
  <td id="tableHTML_column_2">Silvia Ramírez Trejo</td>
  <td id="tableHTML_column_3">5556822096 ext. 461</td>
  <td id="tableHTML_column_4">sramirezt@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fondo Mixto de Promoción Turística de la Ciudad de México</td>
  <td id="tableHTML_column_2">Eduardo Enrique Cisneros Contreras</td>
  <td id="tableHTML_column_3">5552112136 ext. 1052</td>
  <td id="tableHTML_column_4">enrique.cisneros@fmpt.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fondo para el Desarrollo Económico y Social de la Ciudad de México</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fondo para el Desarrollo Social de la Ciudad de México</td>
  <td id="tableHTML_column_2">Julio Gutiérrez Morano</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Fondo Público de Atención al Ciclista y al Peatón</td>
  <td id="tableHTML_column_2">Lídice Rocha Marenco</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">lrocham@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Heroico Cuerpo de Bomberos de la Ciudad de México</td>
  <td id="tableHTML_column_2">Gustavo Yair Chalico Moedano</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">gchalicom@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instancia Ejecutora del Sistema Integral de Derechos Humanos de la Ciudad de México</td>
  <td id="tableHTML_column_2">Mayra Arredondo Campos</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto de Capacitación para el Trabajo de la Ciudad de México</td>
  <td id="tableHTML_column_2">José Eduardo Lee Luna</td>
  <td id="tableHTML_column_3">5557400237 ext. 1006</td>
  <td id="tableHTML_column_4">jleel@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto de Educación Media Superior de la Ciudad de México</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto de Estudios Superiores de la Ciudad de México "Rosario Castellanos"</td>
  <td id="tableHTML_column_2">Alexis Raúl Joffre Torres</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">alexis.joffre@sectei.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto de Formación Profesional</td>
  <td id="tableHTML_column_2">Lourdes García Hernández</td>
  <td id="tableHTML_column_3">5553455916 ext. 5903, 5916</td>
  <td id="tableHTML_column_4">lourdes_garcia@fgjcdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto de la Juventud de la Ciudad de México</td>
  <td id="tableHTML_column_2">Luis Enrique Garcia Quintero</td>
  <td id="tableHTML_column_3">5553427440 ext. 440</td>
  <td id="tableHTML_column_4">lgarciaq@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto de las Personas con Discapacidad de la Ciudad de México</td>
  <td id="tableHTML_column_2">María del Pilar Pato Caro</td>
  <td id="tableHTML_column_3">5515194290 ext. 121</td>
  <td id="tableHTML_column_4">mpato@cdmx.gob.mx; mpatoc@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto de Verificación Administrativa de la Ciudad de México</td>
  <td id="tableHTML_column_2">Christian Castro Martínez</td>
  <td id="tableHTML_column_3">5547377700 ext. 1720</td>
  <td id="tableHTML_column_4">ccastrom@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto de Vivienda de la Ciudad de México</td>
  <td id="tableHTML_column_2">Gilberto V. Girón Méndez</td>
  <td id="tableHTML_column_3">5551410300 ext. 5200</td>
  <td id="tableHTML_column_4">gilberto.giron@invi.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto de Vivienda de la Ciudad de México</td>
  <td id="tableHTML_column_2">Moisés Zarate Toltolhua</td>
  <td id="tableHTML_column_3">5551410300 ext. 5202</td>
  <td id="tableHTML_column_4">moises.zarate@invi.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto del Deporte de la Ciudad de México</td>
  <td id="tableHTML_column_2">Pablo Macedo Angulo</td>
  <td id="tableHTML_column_3">56048730</td>
  <td id="tableHTML_column_4">pablo.macedo@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto Local de la Infraestructura Física Educativa</td>
  <td id="tableHTML_column_2">Dan López González</td>
  <td id="tableHTML_column_3">55335426</td>
  <td id="tableHTML_column_4">gerencia.diagnostico@ilife.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto para la Atención y Prevención de las Adicciones</td>
  <td id="tableHTML_column_2">Iván Estrada Ramírez</td>
  <td id="tableHTML_column_3">5546313035 ext. 3001</td>
  <td id="tableHTML_column_4">iestradar@iapa.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Instituto para la Seguridad de las Construcciones en la Ciudad de México</td>
  <td id="tableHTML_column_2">Ruendy Mena Martínez</td>
  <td id="tableHTML_column_3">5551343130</td>
  <td id="tableHTML_column_4">rmena@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Junta de Asistencia Privada del Distrito Federal</td>
  <td id="tableHTML_column_2">Salim Lajud Piña.</td>
  <td id="tableHTML_column_3">5552797270 ext. 7279</td>
  <td id="tableHTML_column_4">slajud@jap.org.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Mecanismo de Protección Integral de Personas Defensoras de Derechos Humanos y Periodistas de la Ciudad de México</td>
  <td id="tableHTML_column_2">Tobyanne Ledesma Rivera</td>
  <td id="tableHTML_column_3">5555187354 ext. 1014</td>
  <td id="tableHTML_column_4">tobyanne.ledesma@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Mecanismo de Protección Integral de Personas Defensoras de Derechos Humanos y Periodistas de la Ciudad de México</td>
  <td id="tableHTML_column_2">Leslie Diana Rodríguez Vázquez</td>
  <td id="tableHTML_column_3">5555187354 ext. 1014</td>
  <td id="tableHTML_column_4">lrodriguezv@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Metrobús</td>
  <td id="tableHTML_column_2">Fredy Velázquez Jiménez</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">fvelazquez@metrobus.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Órgano Regulador de Transporte</td>
  <td id="tableHTML_column_2">Francisco Javier López Alcantara</td>
  <td id="tableHTML_column_3">5557646750</td>
  <td id="tableHTML_column_4">fjlopeza@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Planta Productora de Mezclas Asfálticas</td>
  <td id="tableHTML_column_2">Alejandro Salgado Vázquez</td>
  <td id="tableHTML_column_3">5553381490 ext. 1040</td>
  <td id="tableHTML_column_4">asalgado@plantadeasfalto.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Policía Auxiliar de la Ciudad de México</td>
  <td id="tableHTML_column_2">José Beltrán Solares</td>
  <td id="tableHTML_column_3">5555475720 ext. 2002</td>
  <td id="tableHTML_column_4">jbeltrans@paux.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Policía Bancaria e Industrial de la Ciudad de México</td>
  <td id="tableHTML_column_2">Victor Manuel Vargaz Gómez</td>
  <td id="tableHTML_column_3">5589435140</td>
  <td id="tableHTML_column_4">vmvargas@polbancaria.com</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Procuraduría Ambiental y del Ordenamiento Territorial de la Ciudad de México</td>
  <td id="tableHTML_column_2">Gabriela Ortiz Merino</td>
  <td id="tableHTML_column_3">5552650780 ext. 16000</td>
  <td id="tableHTML_column_4">gortiz@paot.org.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Procuraduría Social de la Ciudad de México</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Red de Transporte de Pasajeros de la Ciudad de México</td>
  <td id="tableHTML_column_2">Francisco Velázquez Sandoval</td>
  <td id="tableHTML_column_3">13286300 ext. 6408</td>
  <td id="tableHTML_column_4">fvelazquez@rtp.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Régimen de Protección Social en Salud</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaria de Administración y Finanzas</td>
  <td id="tableHTML_column_2">Salvador Clodoaldo Pineda Hernández</td>
  <td id="tableHTML_column_3">5551342500 ext. 1501, 1503</td>
  <td id="tableHTML_column_4">spineda@finanzas.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Cultura</td>
  <td id="tableHTML_column_2">Karlos Garcia Santiago</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">kgarcias@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Desarrollo Económico</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Desarrollo Urbano y Vivienda</td>
  <td id="tableHTML_column_2">Lenia Batres Guadarrama</td>
  <td id="tableHTML_column_3">5551302100 ext. 2129</td>
  <td id="tableHTML_column_4">lbatresgu@seduvi.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Desarrollo Urbano y Vivienda</td>
  <td id="tableHTML_column_2">Fernando Ham Scott</td>
  <td id="tableHTML_column_3">5551302100 ext. 2129</td>
  <td id="tableHTML_column_4">fham@seduvi.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Educación, Ciencia, Tecnología e Innovación</td>
  <td id="tableHTML_column_2">Juan José González Moreno</td>
  <td id="tableHTML_column_3">5555121012 ext. 208</td>
  <td id="tableHTML_column_4">juanjo@sectei.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaria de Gestión Integral de Riesgos y Protección Civil</td>
  <td id="tableHTML_column_2">Rafael Humberto Marín Cambrianis</td>
  <td id="tableHTML_column_3">5557056670</td>
  <td id="tableHTML_column_4">rmarinc@sgirpc.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Gobierno</td>
  <td id="tableHTML_column_2">Kevin Iván Galindo Calderón</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaria de Inclusión y Bienestar Social</td>
  <td id="tableHTML_column_2">Victor Manuel Torres Olivares</td>
  <td id="tableHTML_column_3">5553458000 ext. 8352</td>
  <td id="tableHTML_column_4">vtorresol@sibiso.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de la Contraloría General</td>
  <td id="tableHTML_column_2">Óscar Agustín Terrés González</td>
  <td id="tableHTML_column_3">5556279700 ext. 54007</td>
  <td id="tableHTML_column_4">oaterresg@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de las Mujeres</td>
  <td id="tableHTML_column_2">María Cristina Cobos López</td>
  <td id="tableHTML_column_3">5555122836 ext. 610</td>
  <td id="tableHTML_column_4">mcobosl@semujeres.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Movilidad</td>
  <td id="tableHTML_column_2">Patricia Pérez Sandoval</td>
  <td id="tableHTML_column_3">5552099911 ext. 1464</td>
  <td id="tableHTML_column_4">pperezs@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Obras y Servicios</td>
  <td id="tableHTML_column_2">Leopoldo Ramírez Sáenz</td>
  <td id="tableHTML_column_3">5553458217 ext. 1205</td>
  <td id="tableHTML_column_4">lramirezs@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Obras y Servicios</td>
  <td id="tableHTML_column_2">Mario Dubón Peniche</td>
  <td id="tableHTML_column_3">5553458217 ext. 1205</td>
  <td id="tableHTML_column_4">mario.dubon@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Pueblos y Barrios Originarios y Comunidades Indigenas Residentes</td>
  <td id="tableHTML_column_2">Hazziel Padilla Doval</td>
  <td id="tableHTML_column_3">5511026500 ext. 6565</td>
  <td id="tableHTML_column_4">hpadillad@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Salud</td>
  <td id="tableHTML_column_2">Jorge Gerardo Morales Velázquez</td>
  <td id="tableHTML_column_3">5555210547 ext. 1024</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Seguridad Ciudadana</td>
  <td id="tableHTML_column_2">Gustavo Guerrero Cuevas</td>
  <td id="tableHTML_column_3">5552425100 ext. 6321</td>
  <td id="tableHTML_column_4">gguerrerocuevas@ssp.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Trabajo y Fomento al Empleo</td>
  <td id="tableHTML_column_2">Silvia Guadarrama González</td>
  <td id="tableHTML_column_3">5557093233 ext. 5026</td>
  <td id="tableHTML_column_4">sguadarramag@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría de Turismo</td>
  <td id="tableHTML_column_2">Mary Cruz Cabrera Toledo</td>
  <td id="tableHTML_column_3">5552867097 ext. 2705</td>
  <td id="tableHTML_column_4">mcabrerat@turismo.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Secretaría del Medio Ambiente</td>
  <td id="tableHTML_column_2">Gonzalo Jacinto Pinto Farias</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Servicio de Transportes Eléctricos</td>
  <td id="tableHTML_column_2">Javier Flores Peralta</td>
  <td id="tableHTML_column_3">5525950000 ext. 250</td>
  <td id="tableHTML_column_4">jfloresp@ste.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Servicios de Salud Pública de la Ciudad de México</td>
  <td id="tableHTML_column_2">Juan Carlos Rojas Cortés</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">jcrojas@sersalud.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Servicios Metropolitanos S.A de C.V</td>
  <td id="tableHTML_column_2">Samuel Reyes Pizano</td>
  <td id="tableHTML_column_3">5556616328 ext. 113</td>
  <td id="tableHTML_column_4">sreyesp@cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Sistema de Aguas de la Ciudad de México</td>
  <td id="tableHTML_column_2">Antonio García Monroy</td>
  <td id="tableHTML_column_3">5551304444 ext. 1492</td>
  <td id="tableHTML_column_4">antonio.garcia@sacmex.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Sistema de Transporte Colectivo, Metro</td>
  <td id="tableHTML_column_2">Ramón Sánchez Ramos</td>
  <td id="tableHTML_column_3">5557091133 ext. 5242</td>
  <td id="tableHTML_column_4">ramon.sanchez@metro.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Sistema para el Desarrollo Integral de la Familia de la Ciudad de México</td>
  <td id="tableHTML_column_2">Noé López Aparicio</td>
  <td id="tableHTML_column_3">5555591919 ext. 3491</td>
  <td id="tableHTML_column_4">nlopeza@dif.cdmx.gob.mx</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Sistema Público
de Radiodifusión de la Ciudad de México</td>
  <td id="tableHTML_column_2">Sin Designar</td>
  <td id="tableHTML_column_3">No Disponible</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Universidad de la Policía de la Ciudad de México</td>
  <td id="tableHTML_column_2">Uriel Urbán Lezama</td>
  <td id="tableHTML_column_3">5554902969</td>
  <td id="tableHTML_column_4">No Disponible</td>
</tr>
<tr>
  <td id="tableHTML_column_1">Universidad de la Policía de la Ciudad de México</td>
  <td id="tableHTML_column_2">José Guadalupe Mendoza García</td>
  <td id="tableHTML_column_3">5554902903</td>
  <td id="tableHTML_column_4">jgmendoza@ssp.cdmx.gob.mx</td>
</tr>
</tbody>
</table>
