
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

 .container a, .container b {
    color: white;
}

.container{
  margin-right: 0em;
}

a{
  color: #00b140;
}

</style>



<div class="flex-container" >
    <div class="row">


      <div class="col-sm">
        <img src="https://viriesc.github.io/micrositio_adip/assets/img/logo_blanco.png" alt="No se encontró el archivo de imagen">

      </div>
      <div class="col-sm">
        <h3><b>Navegación </b></h3>

            <a class="text-small" href="https://politicadedatos.cdmx.gob.mx//politicadedatos/">Inicio</a> <br>
            <a class="text-small" href="https://politicadedatos.cdmx.gob.mx//politicadedatos/datalogo">Datálogo</a> <br>
            <a class="text-small" href="https://politicadedatos.cdmx.gob.mx//politicadedatos/marco_legal">Marco Legal</a>


      </div>
      <div class="col-sm">
       <h3><b> Relacionados </b></h3>

                <a class="text-small" href="https://transparencia.cdmx.gob.mx/">Portal de transparencia ciudad de México</a> <br>
                <a class="text-small" href="https://www.congresocdmx.gob.mx/">Congreso de la Ciudad de México</a><br>
                <a class="text-small"  href="http://www.infodf.org.mx/">InfoDF</a> <br>
                <a class="text-small" href="http://www.diputados.gob.mx/LeyesBiblio/pdf/1_080520.pdf">Constitución CDMX</a> <br>
                <a class="text-small" href="https://cdhcm.org.mx/">Comisión de Derechos Humanos del Distrito Federal</a>


      </div>

    </div>
    <div class="row">


      <div class="col-sm">
        <hr>
      <p class="text-small text-grey-dk-100 mb-0" ><b> Plaza de la Constitución 2, Alcaldía Cuauhtémoc, Centro, C.P.06068,Ciudad de México
      Ciudad de México 2018 - Términos y Condiciones - Políticas de privacidad </b></p>
      </div>

    </div>



  </div>
