
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #262629;
  color: white;
  text-align: center;
}

p,a{
  text-size-adjust: fs-2;
  text-align: center;
}
  
 a {
    color:  #00b140;
}

b{
    color:  #262629;
}
</style>



<div class="container">
    <div class="row">


      <div class="col-sm">
        <img src="https://datalogo.cdmx.gob.mx/images/Logo_Dependencia2.png" alt="No se encontró el archivo de imagen">
       
      </div>
      <div class="col-sm">
        <h3><b>Navegación </b></h3>
        
            <a href="#">Inicio</a> 
            <a href="#">Datálogo</a>
            <a href="#">Marco Legal</a>
       
      </div>
      <div class="col-sm">
       <h3><b> Relacionados </b></h3>
            
                <a href="https://transparencia.cdmx.gob.mx/">Portal de transparencia ciudad de México</a>
                <a href="">Congreso de la Ciudad de México</a>
                <a href="">InfoDF</a>
                <a href="">Constitución CDMX</a>
                <a href="">Comisión de Derechos Humanos del Distrito Federal</a>   
            

      </div>
    </div>
      <p><b> Plaza de la Constitución 2, Alcaldía Cuauhtémoc, Centro, C.P.06068,Ciudad de México
      Ciudad de México 2018 - Términos y Condiciones - Políticas de privacidad </b><p>

  </div>

