
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>

 .container a, .container b {
    color: white;
}


</style>



<div class="container">
    <div class="row">


      <div class="col-sm">
        <img src="https://viriesc.github.io/micrositio_adip/assets/img/Logo_Dependencia.png" alt="No se encontró el archivo de imagen">
       
      </div>
      <div class="col-sm">
        <h3><b>Navegación </b></h3>
        
            <a class="text-small" href="#">Inicio</a> <br>
            <a class="text-small" href="#">Datálogo</a> <br>
            <a class="text-small" href="#">Marco Legal</a>
       
      </div>
      <div class="col-sm">
       <h3><b> Relacionados </b></h3>
            
                <a class="text-small" href="https://transparencia.cdmx.gob.mx/">Portal de transparencia ciudad de México</a> <br>
                <a class="text-small" href="">Congreso de la Ciudad de México</a><br>
                <a class="text-small"  href="">InfoDF</a> <br>
                <a class="text-small" href="">Constitución CDMX</a> <br>
                <a class="text-small" href="">Comisión de Derechos Humanos del Distrito Federal</a>   
            

      </div>

    </div> 
    <hr>
      <p class="text-small text-grey-dk-100 mb-0" ><b> Plaza de la Constitución 2, Alcaldía Cuauhtémoc, Centro, C.P.06068,Ciudad de México
      Ciudad de México 2018 - Términos y Condiciones - Políticas de privacidad </b><p>

  </div>

