.footer {
  background: #2e2e32;
  overflow: hidden;

  .footer--block {
    a {
      color: $colortheme;

      span {
        font-weight: bold;
      }
    }

    .by {
      a {
        color: #515151;
      }
    }

    p {
      color: $colortext;
      margin: auto;
      font-size: 12px;
      
    }
  }
}
