.content-post {
  min-height: calc(100vh - 480px);
  background: #f3f5f7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-item-3 {
  box-sizing: border-box;
  transition: .3s;
  margin-top: 40px;
  margin-bottom: 20px;
  overflow: hidden;
  &:hover {
    border-color: $colortheme;
    .list-post-title {
      color: $colortheme;
    }
  }
  .list-item-3-img {
    margin-right: 20px;
      @media screen and (max-width: 839px) {
        margin-right: 0;
        margin-top: 20px;
      }
    .list-post-description {
       font-size: 18px;
     }
   }
   a {
     color: $colortheme;
     text-decoration: underline;
   }
}
