.nav-list-link {
    display: block;
    min-height: $nav-list-item-height-sm;
    padding-top: $sp-1;
    padding-bottom: $sp-1;
    line-height: #{$nav-list-item-height-sm - 2 * $sp-1};
    @if $nav-list-expander-right {
      padding-right: $nav-list-item-height-sm;
      padding-left: $sp-2;
    } @else {
      padding-right: $sp-2;
      padding-left: $nav-list-item-height-sm;
    }

    @include mq(md) {
      min-height: $nav-list-item-height;
      line-height: #{$nav-list-item-height - 2 * $sp-1};
      @if $nav-list-expander-right {
        padding-right: $nav-list-item-height;
        padding-left: $gutter-spacing;
      } @else {
        padding-right: $gutter-spacing;
        padding-left: $nav-list-item-height;
      }
    }

    &.active {
      font-weight: 600;
      text-decoration: none;
    }

    &:hover,
    &.active {
      background-image: linear-gradient(
        -90deg,
        rgba($feedback-color, 1) 0%,
        rgba($feedback-color, 0.8) 80%,
        rgba($feedback-color, 0) 100%
      );
    }
  }