<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body> 
   <h2>Componentes del MGD-CDMX</h2> <br>
    <div class="row">
      <div class="col-4 ">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="gobernanza" data-toggle="list" href="#list-home" role="tab" aria-controls="home">i.Gobernanza y cultura de datos</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">ii.Calidad de datos</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">III. Seguridad de los datos</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">IV. Gestión de metadatos</a>
          <a class="list-group-item list-group-item-action" id="datos-maestros" data-toggle="list" href="#datos-m" role="tab" aria-controls="settings">VI. Datos maestros y de referencia</a>
          <a class="list-group-item list-group-item-action" id="list-arqui-list" data-toggle="list" href="#list-arqui" role="tab" aria-controls="settings">V. Arquitectura de datos</a>
          <a class="list-group-item list-group-item-action" id="list-gestion-list" data-toggle="list" href="#list-gestion" role="tab" aria-controls="settings">VI. Gestión de datos no estructurados</a>
          <a class="list-group-item list-group-item-action" id="list-int-list" data-toggle="list" href="#list-integracion" role="tab" aria-controls="settings">VII. Integración e inteligencia de datos:</a>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class=" col-10">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="gobernanza">
            <h3>Gobernanza y cultura de datos</h3>
            Conjunto de reglas, actitudes y prácticas en torno a la gestión de los datos. <br>
            <br>La <b>gobernanza de datos</b> se refiere al establecimiento de reglas claras de participación, decisión y autoridad sobre los datos. Pueden ser establecidas al interior de cada Órgano (de manera formal o informal); y/o, establecidas por la Agencia u otra autoridad competente en la materia. Si quieres ayudar a construir la gobernanza de datos de la Ciudad participa aquí (link a participación). 
            <br><br>
            La <b>cultura de datos</b> se refiere al desarrollo de competencias, capacidades y habilidades que permitan comprender el valor e importancia de los datos. Para promoverla, desarrollamos distintas acciones, mira aquí (link a la sección de cultura de datos). 
          </div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

            <h3>Calidad de los datos</h3>
            El grado en que los datos son ciertos, consistentes, pertinentes, proporcionales, accesibles, íntegros y oportuno. <br>

            <ul>
              <li><b>Certeza:</b>
                El grado en que los datos describen correctamente el fenómeno que buscan medir; es decir, 
                 si los datos son una representación fidedigna, dentro de lo posible, de la realidad, al 
                 reducir las posibilidades de ambigüedad, de sesgos y errores.

              </li>
              <li><b>Consistencia:</b>
                El grado en que los datos son consistentes entre ellos y el diseño metodológico para su generación y/o 
                recolección, de modo que no se producen contradicciones lógicas ni oposición entre ellos.

              </li>
              <li><b>Pertinencia:</b>
                El grado en que los datos satisfacen las necesidades de las personas usuarias y son 
                convenientes para el cumplimiento de los objetivos institucionales para los que fueron creados.

              </li>
              <li><b>Proporcionalidad:</b>
                El grado en que los datos se producen mediante los procesos menos costosos posibles, 
                tanto para los Entes Públicos como para la ciudadanía, y no son excesivos en relación con el
                 ámbito y finalidades para los que fueron generados y/o recolectados.

              </li>
              <li><b>Accesibilidad</b>
                El grado en que las personas usuarias pueden acceder, localizar, disponer, comprender y 
                obtener los datos de forma sencilla y clara. Se refiere a la disponibilidad para la gama más
                 amplia de usuarios y en lenguajes y medios claros y asequibles.

              </li>
              <li><b>Integridad:</b>El grado en que los datos son acompañados por información
                 fidedigna sobre su fuente de origen y se producen de manera imparcial, garantizando que no
                  fueron modificados. De ser el caso, se proveen las aclaraciones metodológicas y técnicas necesarias.

              </li>
              <li><b>Oportunidad:</b>
                El grado de vigencia de los datos, entendido como el grado en el que las actualizaciones de los mismos
                 reflejan los cambios en el mundo real. Esto incluye el cumplimiento puntual de la calendarización de 
                 publicación y/o disponibilidad de los datos, y su puesta a disponibilidad de manera oportuna para la toma 
                 de decisiones.

              </li>
            </ul>
             
            ¿Cómo mejorar la calidad de mis datos? Haz click aquí (link al apartado de recursos en dataescuela) 
          </div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <h3>Seguridad de los Datos</h3>

            Las medidas preventivas y reactivas de autenticación, autorización, acceso y monitoreo, para garantizar 
            la integridad, confidencialidad y privacidad de los datos. <br>

            ¿Cómo mejorar la seguridad de mis datos?  <a href="https://viriesc.github.io/micrositio_adip/marco_legal">(Ir a los Lineamientos)</a>. 
          </div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
            <h3>Gestión de metadatos</h3> 
            <p>Los metadatos son los datos que describen el contenido, las características y propiedades de los datos. Sirven para localizar, organizar y administrar todos los datos, entre otras cosas.  Los metadatos documentan las características de los datos, lo cual significa que no contienen los datos mismos ni incluyen datos personales. 

              Pueden ser: nombre de la base de datos, sistema y/o conjunto de datos; frecuencia de actualización de los datos; cobertura geográfica; tema; entre otros. 

              Los metadatos serán el principal insumo del Inventario de la Ciudad de México (link).  Para que sea posible sistematizar la documentación, recolección y administración de metadatos, es necesario contar con un estándar.  
            </p><br>
              <p>Ejemplos de estándares: </p>
              <ul>
                <li>  Metadata Object Description Schema (MODS) (link)</li>
                <li>  Dublin Core (DC) (link)</li>
                <li>Data Catalog Vocabulary (DCAT) (link)</li>
              </ul>
            
          </div>
          <div class="tab-pane fade" id="datos-m" role="tabpanel" aria-labelledby="datos-maestros">

           <h3>Datos maestros y de referencia</h3>
           
           <p>
            La definición, captura, integración y uso compartido de datos maestros  y de referencia consistentes (ver glosario: datos maestros y de referencia). 
           </p>
            <p>¿Qué son? Son aquellos datos clave y de uso común entre distintos Entes que posibilitan la integración con el resto de datos. 
            </p>
           <p> Por ejemplo: “ciudadano” “beneficiario de programas sociales” “número de placa” “código de un servicio” “ID de un trámite” “colonia” “CLUES de los hospitales” “Número de seguridad social”. 
              </p>
              <br>
            Para establecer los datos maestros y de referencia más importantes de la Ciudad, la ADIP convocará a Mesas Interinstitucionales de Trabajo para definirlos de manera participativa y consensuada. 
            
           </p>
           
            
              
          </div>
          <div class="tab-pane fade" id="list-arqui" role="tabpanel" aria-labelledby="list-arqui-list">
            <h3>Arquitectura de datos</h3>
            <p>la alineación de los modelos de datos, sistemas de información e infraestructura tecnológica con los objetivos institucionales estratégicos. 

             
              </p>
            <p> La definición de las arquitecturas de bases de datos, la infraestructura tecnológica más adecuada, y modelado de los datos para que faciliten el cumplimiento de los objetivos institucionales estratégicos mediante el uso efectivo y eficiente de los datos. 
            </p>
            <p>  ¿Para qué? Asegurar la integración e interoperabilidad de los datos mediante arquitecturas, modelos y diseños de datos estandarizados.  
            </p>

          </div>
          <div class="tab-pane fade" id="list-gestion" role="tabpanel" aria-labelledby="list-gestion-list">
            <h3>Gestión de datos no estructurados</h3>
             <p>
              Actividades de almacenamiento, protección, acceso y recuperación de los datos no estructurados (ver glosario: datos no estructurados). 

             </p>
             <p> Pueden ser: texto, gráficas, imágenes, correos electrónicos, audio y/o video, los cuales podrían contener datos valiosos a ser gestionados. 
            </p>
          </div>
          <div class="tab-pane fade" id="list-integracion" role="tabpanel" aria-labelledby="list-int-list">
           <h3>Integración e inteligencia de datos</h3>   
                    <p> actividades de gestión y mantenimiento de grandes volúmenes de datos integrados dentro de almacenes de datos. </p>
                    <p>¿Para qué? 
                      Almacenamiento y acceso seguro, eficiente y oportuno de una gran cantidad de datos. 
                      Facilitar el acceso a datos integrados y consistentes para la toma de decisiones basadas en evidencia. </p>


          </div>
          
        </div>
      </div>
      
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>