<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <footer class="Footer">
        <div class="Footer-child">
            <div class="container">
                <div class="Footer-section--c4">
                    <div class="Footer-card">
                        <div class="Footer-card-logo">
                            <img src="https://adip.cdmx.gob.mx/themes/base/assets/images/logos/Logo_Generico_F.png" alt="Logo de la Dependencia">
                        </div>
                        <div class="Footer-card-data">
                            <div class="Footer-title">
                                <h3>
                                    Atención ciudadana
                                </h3>
                            </div>
                                                    <div class="Footer-card-address">
                                <div class="Text">
                                    <strong>Dirección:</strong> Calle Plaza de las Vizcaínas 30<br>
                                    Colonia Centro,
                                    Alcaldía Cuauhtémoc
                                    C.P. 06080, Ciudad de México
                                </div>
    
                                
                                                            <div class="Title">
                                    <h4>
                                        Teléfonos:
                                    </h4>
                                </div>
                                <div class="Text">
                                     3090 0500, 5447 5100
                                </div>
                                
                                                            <div class="Footer-card-email">
                                    <div class="Text">
                                        <strong>Correo electrónico:</strong> infoadip@cdmx.gob.mx
                                    </div>
                                </div>
                                
                                                            <div class="Title">
                                    <h4>
                                        Horario:
                                    </h4>
                                </div>
                                <div class="Text">
                                                                    Lunes a viernes 09:00-19:00 <br/>
                                                                </div>
                                                        </div>
                                                </div>
                    </div>
                                    <ul class="Footer-social">
                        <li class="Footer-title">
                            <h3>
                                Redes sociales
                            </h3>
                        </li>
                                            <li class="FooterSocial-item">
    
            <a href="https://www.facebook.com/Agencia-Digital-de-Innovaci%C3%B3n-P%C3%BAblica-233853317529451" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
                                            <li class="FooterSocial-item">
    
            <a href="https://twitter.com/LaAgenciaCDMX" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
                                        </ul>
                                </div>
                <div class="Footer-section--c3">
                    <div class="Footer-links">
                        <ul class="Footer-links-content">
                            <li class="Footer-title">
                                <h3>
                                    Navegación
                                </h3>
                            </li>
                            <li class="Footer-links-link"><a href="https://adip.cdmx.gob.mx">Inicio</a></li>
    
    <li class="Footer-links-link">
        <a href="https://adip.cdmx.gob.mx/dependencia">
            Dependencia
        </a>
    </li>
    
    <li class="Footer-links-link">
        <a href="https://adip.cdmx.gob.mx/comunicacion">
            Comunicación
        </a>
    </li>
    
    <li class="Footer-links-link">
        <a href="https://adip.cdmx.gob.mx/centros">
            Centros
        </a>
    </li>
    
    <li class="Footer-links-link">
        <a href="https://adip.cdmx.gob.mx/proyectos">
            Proyectos
        </a>
    </li>
    
    <li class="Footer-links-link">
        <a href="https://adip.cdmx.gob.mx/consejo-consultivo-adip">
            Consejo Consultivo
        </a>
    </li>
    
    <li class="Footer-links-link">
        <a href="https://adip.cdmx.gob.mx/dictaminacion">
            Dictaminación
        </a>
    </li>
                        </ul>
                    </div>
                </div>
                <div class="Footer-section--c3">
                    <div class="Footer-links">
                        <ul class="Footer-links-content">
                            <li class="Footer-title">
                                <h3>
                                    Sitios relacionados
                                </h3>
                            </li>
                            <li class="FooterLinks-link">
            <a href="https://www.cdmx.gob.mx" >
            Portal Ciudadano de la Ciudad de México
        </a>
    </li>
    <li class="FooterLinks-link">
            <a href="https://transparencia.cdmx.gob.mx" >
            Portal de Transparencia
        </a>
    </li>
    <li class="FooterLinks-link">
            <a href="https://www.tramites.cdmx.gob.mx" >
            Trámites y Servicios
        </a>
    </li>
    <li class="FooterLinks-link">
            <a href="https://datos.cdmx.gob.mx" >
            Portal de datos de la Ciudad de México
        </a>
    </li>
    <li class="FooterLinks-link">
            <a href="https://tianguisdigital.cdmx.gob.mx" >
            Tianguis Digital
        </a>
    </li>
    <li class="FooterLinks-link">
            <a href="https://atencionciudadana.cdmx.gob.mx/" >
            Sistema Unificado de Atención Ciudadana
        </a>
    </li>
    <li class="FooterLinks-link">
            <a href="https://tudinero.cdmx.gob.mx/" >
            Portal de Transparencia Presupuestaria
        </a>
    </li>
    <li class="FooterLinks-link">
            <a href="https://www.infocdmx.org.mx/covid19/inicio/" >
            Datos Personales del INFOCDMX
        </a>
    </li>
                        </ul>
                    </div>
                </div>
    
                <div class="Footer-section--c2">
                    <div class="Footer-banners">
            <div class="Footer-banners-item">
            <a href="https://plazapublica.cdmx.gob.mx/uploads/decidim/attachment/file/12/plan_gob_nov_digital.pdf"
               target="_blank">
                <img width="320" height="180" src="https://adip.cdmx.gob.mx/storage/app/uploads/public/5dc/9f6/52b/5dc9f652b1a66044190893.png" alt="Programa de Gobierno de la Ciudad de México 2019-2024"/>
            </a>
        </div>
            <div class="Footer-banners-item">
            <a href="https://datos.cdmx.gob.mx/"
               target="_blank">
                <img width="320" height="180" src="https://adip.cdmx.gob.mx/storage/app/uploads/public/5cc/0fb/dc3/5cc0fbdc380a8422064764.png" alt="Datos abiertos"/>
            </a>
        </div>
            <div class="Footer-banners-item">
            <a href="https://www.tianguisdigital.cdmx.gob.mx/"
               target="_blank">
                <img width="320" height="180" src="https://adip.cdmx.gob.mx/storage/app/uploads/public/5dc/9f6/ad5/5dc9f6ad5c494326569373.png" alt="Tianguis Digital"/>
            </a>
        </div>
        </div>
                </div>
            </div>
        </div>
        <div class="Footer-child">
            <div class="container">
                <div class="Footer-info">
                    <div class="Footer-info-link">
                        <b>
                            CMS CDMX v2.7.1 2020
                        </b>
                    </div>
                    <div class="Footer-info-link">
                        <a href="https://adip.cdmx.gob.mx/terminos-y-condiciones">
                            Términos y Condiciones
                        </a>
                    </div>
                    <div class="Footer-info-link">
                        <a href="https://adip.cdmx.gob.mx/terminos-y-condiciones#Datos-personales">
                            Política de privacidad
                        </a>
                    </div>
                    <div class="Footer-info-link">
                        <a href="http://www.cdmx.gob.mx/lgacdmx">
                            Licencia de Gobierno Abierto CDMX
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>