---
permalink: /loid/
---

<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
       
        #pre span {
            text-align: center;
            
        }
        

        h2, h4,h3{
            color: green;
            text-align: center;  
        }

        
    </style>

</head>
  <body>

    <div id="pre">
        <p><h3>PUBLICADO EN LA GACETA OFICIAL DE LA CIUDAD DE MÉXICO EL 31 DE DICIEMBRE DE 2018 </h3>
       <span> <h5>ADMINISTRACIÓN PÚBLICA DE LA CIUDAD DE MÉXICO <br>
        JEFATURA DE GOBIERNO</h5> <br> </span>
        <h4>LEY DE OPERACIÓN E INNOVACIÓN DIGITAL PARA LA CIUDAD DE MÉXICO </h4>
        <b> DRA. CLAUDIA SHEINBAUM PARDO,</b> Jefa de Gobierno de la Ciudad de México, a sus habitantes sabed. Que el H. Congreso de la Ciudad de México I Legislatura, se ha servido dirigirme el siguiente: <br> 
        <span><h5>D E C R E T O <br>
        CONGRESO DE LA CIUDAD DE MÉXICO </h5></p> </span>

        <p>I LEGISLATURA EL CONGRESO DE LA CIUDAD DE MÉXICO, DECRETA: <br>
      <p> POR EL QUE SE EXPIDE LA LEY DE OPERACIÓN E INNOVACIÓN DIGITAL PARA LA CIUDAD DE MÉXICO; SE REFORMAN LOS ARTÍCULOS 4, 6, 8, 9, 11, 12, 13, 15, 16, 17, 18, 25, 29, 33 Y 37
            Y SE DEROGAN LOS ARTÍCULOS 22, 30, 31 Y 32, 
            TODOS DE LA LEY DE GOBIERNO ELECTRÓNICO DE LA CIUDAD DE MÉXICO; Y SE REFORMAN LOS ARTÍCULOS 2, 6, 9 Y 22 DE LA LEY DE FIRMA ELECTRÓNICA DEL DISTRITO FEDERAL. 
        ARTÍCULO PRIMERO.- Se expide la Ley de Operación e Innovación Digital para la Ciudad de México: </p>
    </div>
    
    
    
    <h2>LEY DE OPERACIÓN E INNOVACIÓN DIGITAL PARA LA CIUDAD DE MÉXICO </h2>
    <br>
    <div id="cap1">
    <h4>CAPITULO I CONSIDERACIONES GENERALES </h4>
    
    <span><h6>Artículo 1.</h6>
    <p>
        Las disposiciones de la presente Ley son de observancia
            general en materia de gestión de datos, gobierno abierto, gobierno digital, y gobernanza tecnológica en la Ciudad de México para las Dependencias,
            Órganos Desconcentrados, Entidades Paraestatales y Alcaldías de la Administración Pública de la Ciudad de México en materia de gestión de datos, gobierno abierto,
            gobierno digital y gobernanza tecnológica en la Ciudad de México,
    </p>
    </span>
    
    <span>
    <h6>Artículo 2.</h6>
    <p>. El objeto de esta ley es establecer las normas generales, disposiciones, principios, bases, procedimientos e instrumentos
            rectores relacionados con la gestión de datos, el gobierno abierto, el gobierno digital, la gobernanza tecnológica, la
            gobernanza de la conectividad y la gestión de la infraestructura en las materias que la propia ley regula en la Ciudad de
            México, garantizando en todo momento el derecho a la buena administración consagrado en la Constitución Política de la
            Ciudad de México. 
    </p>
    <p>Para lo anterior, la presente Ley crea la Agencia Digital de Innovación Pública de la Ciudad de México, como órgano desconcentrado que contará con las atribuciones que le otorgue la presente Ley y los demás ordenamientos aplicables para el cumplimiento de sus funciones, cuya persona Titular será designada y removida por la persona Titular de la Jefatura de Gobierno. </p> 
    </span>
    
    
    <span>
    <h6>Artículo 3.</h6>
    <p> En todo lo no previsto en la presente Ley, se aplicará la normatividad relativa al trámite,
            servicio o acto administrativo de que se trate. 
    </p>
    </span>
    
    
    <span>
    <h6>Artículo 4.</h6>
    <p>La interpretación de esta Ley para efectos técnicos corresponde a la Agencia Digital de Innovación Pública de la Ciudad de México, sin perjuicio de las atribuciones que correspondan a otras dependencias. </p>
    </span>
    
    <span>
    <h6>Artículo 5.</h6>
    <p>I. Principio de accesibilidad: La información que generen o se encuentre en posesión de las autoridades de la Ciudad, la difusión de los trámites, servicios y demás actos de gobierno por medios electrónicos, será en un lenguaje claro y comprensible. Asimismo, la difusión de la información por medios digitales deberá considerar para publicación, la utilización de las herramientas necesarias para que la información pueda ser consultada por personas con cualquier tipo de discapacidad. </p>
    <p>II. Principio de apertura: Impulsar la colaboración del sector privado, social y organismos internacionales en la implementación y la vigilancia del gobierno electrónico. </p>
    <p>III. Principio de innovación: Diseñar, implementar y evaluar las estrategias innovadoras que favorezcan incrementar la calidad de los servicios, mejorar la competitividad de las instituciones, elevar la productividad de los servidores públicos, mediante un uso eficiente, eficaz y transparente de los recursos públicos. </p>
    <p>IV. Principio de interacción e inclusión digital tecnológica: Las autoridades de la Ciudad promoverán un gobierno incluyente, cercano y de lenguaje sencillo para interactuar. Para que, en la medida de lo posible, la interacción con la ciudadanía, a través de los medios digitales y de comunicación que al efecto se determinen se lleve a cabo mediante el uso estandarizado de las tecnologías de la información y 
        comunicaciones, compatibles con cualquier medio o dispositivo electrónico, siempre que esto no genere un riesgo para la seguridad de las redes. 
        </p>
    <p>V. Principio de legalidad: La información, substanciación y resolución de trámites, servicios y demás actos que se realicen por medios electrónicos por los Entes, serán acordes a las formalidades establecidas en las disposiciones jurídicas aplicables. </p>
    <p>VI. Principio de seguridad y certeza jurídica: Garantizar al ciudadano y a las instituciones que la información utilizada procede del lugar de origen de los datos y que la misma, no ha sido modificada o alterada, otorgando así el carácter irrepudiable de la información manejada. </p>
    <p>VII. Principio de máxima publicidad: Toda la información pública generada, obtenida, transformada o en posesión del Gobierno de la Ciudad de México como consecuencia de la aplicación de la presente Ley, es pública y será accesible a cualquier persona, salvo aquella considerada por la legislación aplicable como información clasificada. </p>
    <p>VII. Principio de máxima publicidad: Toda la información pública generada, obtenida, transformada o en posesión del Gobierno de la Ciudad de México como consecuencia de la aplicación de la presente Ley, es pública y será accesible a cualquier persona, salvo aquella considerada por la legislación aplicable como información clasificada. </p>
    <p>IX. Principio de privacidad: Disponer de niveles de seguridad adecuados que garanticen la protección de datos personales y datos personales sensibles, de conformidad con lo establecido en los ordenamientos aplicables. 
    </p>
    <p>X. Principio de transparencia proactiva: Promover la reutilización de la información que generan los Entes, considerando la demanda e interés de la sociedad. </p>
    <p>XI. Principio de usabilidad: Es la característica de facilidad de uso y explotación de las herramientas y sistemas informáticos, presupone claridad y sencillez en las interfaces de acción favoreciendo el trabajo colaborativo, mediante atributos y comunicación de sistemas internos e interdependencias, entre el usuario y el sistema informático. Esto incluye la publicación de datos, así como la publicación de plataformas de exploración, graficación, mapeo, filtrado y descarga de la información, de conformidad con los estándares vigentes. </p>
    <p>XII. Principio de interoperabilidad: Generación de estándares y plataformas técnicas de colaboración e intercambio de datos y plataformas tecnológicas entre las dependencias de la Administración Pública de la Ciudad de México con la finalidad de agilizar los procesos y aprovechamiento de la información en materia de trámites, servicios, apertura y análisis de datos y de desarrollo de software. </p>
    <p>XIII. Principio del uso estratégico de la información: Considerar a toda la información generada diariamente por la ciudad y sus ciudadanos, a través de sus plataformas y la que se encuentre disponible en plataformas públicas, como un activo sustantivo para el diseño de las políticas públicas, planes, programas, acciones y estrategias de la Administración Pública de la Ciudad de México, a fin de garantizar la transformación digital. El Gobierno de la Ciudad de México actuará como un ente garante de este activo al garantizar su seguridad de manera responsable al mismo tiempo que esta se usa de manera efectiva para transformar los servicios públicos de la Ciudad. </p>
    <p>XIV. Principio de protección de la información: Salvaguardar y proteger toda información clasificada generada por la ciudad y sus ciudadanos, de conformidad con las leyes en la materia. </p>
    <p>XV. Principio de manejo de la información: La información que generan los Entes deberá ser gestionada con la aplicación de buenas prácticas en el manejo de la información y los datos, incluyendo la mejora de los procesos tecnológicos que las generan, la digitalización constante de conjuntos de datos no digitales en un formato que favorezca el uso y la explotación de datos que favorezcan la alimentación y preservación de la información en el largo plazo y su acceso. </p>
    <p>XVI. Principio de usabilidad de la información: Los datos abiertos publicados por la Ciudad, deberán ser publicados al nivel más bajo de granularidad posible, en formatos reutilizables y legibles por máquinas, con metadatos adecuados y suficientes, y en formatos agregados o modificados si no se pueden publicar en su estado original. La información deberá ser publicada en formatos de uso libre y no propietarios. 
    </p>
    <p>XVII. Principio de uso ético de la información: La información que generan o se encuentra en posesión de los Entes, deberá usarse para fines lícitos y éticos. La información no podrá utilizarse con fines de lucro o para beneficio personal de quienes la generen o se encuentren en posesión de la misma</p>
    <p>XVIII. Principio de calidad de la información: La información y los conjuntos de datos deben ser ciertos, adecuados, pertinentes y proporcionales, no excesivos en relación con el ámbito y finalidad para la que fueron recabados. De igual manera se procurará, cuando sea posible, que la información provenga de una fuente única autorizada e identificable. Los entes generadores o recolectores de información procurarán un proceso de mejora continua que eleve la calidad de la información y datos bajo su autoridad. </p>
    
    </span>
    
    
    <span>
        <h6>Artículo 6.</h6>
        <p> I. Agencia: Agencia Digital de Innovación Pública de la Ciudad de México; </p>
        <p>II. Archivos: Cualquier documento, en cualquier formato, en posesión de los Entes, que constituya información de interés; </p>
        <p>III. Alcaldías: Los órganos político administrativos de cada una de las demarcaciones territoriales en que se divide la Ciudad de México;</p> 
        <p>IV. Accesibilidad: El arte de garantizar que cualquier recurso, a través de cualquier medio, esté disponible para todas las personas, tengan o no algún tipo de discapacidad; </p> 
        <p>V. Acceso abierto: La posibilidad de que terceros utilicen una infraestructura de red existente; </p>
        <p>VI. Acceso a la información: Es el Derecho Humano a solicitar, investigar, difundir, buscar y recibir información conforme lo establecido en el Artículo 6o de la Constitución Política de los Estados Unidos Mexicanos, la Ley General de Transparencia y Acceso a la Información, los derechos correlativos previstos en la Constitución Política de la Ciudad de México, y la Ley de Transparencia, Acceso a la Información Pública y Rendición de Cuentas de la Ciudad de México; </p>
        <p>VII. Beneficiarios finales: Son los destinatarios finales, —en caso de que la titularidad o control se ejerza mediante una cadena de titularidad o a partir de otros medios— que poseen o controlan las personas físicas o morales en cuyo nombre se realiza una transacción. Incluye también a las personas que ejercen el control efectivo final sobre una persona jurídica u otra estructura jurídica; </p>
        <p>VIII. Ciudad. La Ciudad de México; </p>
        <p>IX. Conectividad: Capacidad de hacer y mantener una conexión entre dos o más puntos en un sistema de telecomunicaciones. Medida en los nodos o componentes de una red que están conectados entre sí y la facilidad o velocidad con la que pueden intercambiar información; </p>
        <p>X. Conjunto de Datos: Serie de datos estructurados, vinculados entre sí y agrupados dentro de una misma unidad temática y física, de forma que puedan ser procesados apropiadamente para obtener información; </p>
        <p>XI. Colaboración: Procesos, acciones de gobierno y políticas públicas cuyo diseño e implementación fomenten corresponsabilidad con la población. Un Gobierno colaborativo involucra y compromete a la población en el trabajo de los Entes, promoviendo la creación de redes y el trabajo en redes; </p>
        <p>XII. Datos: El registro informativo simbólico, cuantitativo o cualitativo, generado u obtenido por los Entes; </p>
        <p>XIII. Datos abiertos: A los datos digitales de carácter público que son accesibles en línea que pueden ser usados, reutilizados y redistribuidos por cualquier interesado y que tienen las siguientes características: 
        a. Accesibles: Los datos están disponibles para la gama más amplia de usuarios, para cualquier propósito; 
        b. De libre uso: Citan la fuente de origen como único requerimiento para ser utilizados libremente; 
        c. En formatos abiertos: Los datos estarán disponibles con el conjunto de características técnicas y de presentación que corresponden a la estructura lógica usada para almacenar datos en un archivo digital, cuyas especificaciones técnicas están disponibles públicamente, que no suponen una dificultad de acceso y que su aplicación y reproducción no estén condicionadas a contraprestación alguna; 
        e. Integrales: Contienen el tema que describen a detalle y con los metadatos necesarios; 
        f. Legibles por máquinas: Deberán estar estructurados, total o parcialmente, para ser procesados e interpretados por equipos electrónicos de manera automática; 
        g. No discriminatorios: Los datos están disponibles para cualquier persona, sin necesidad de registro; 
        h. Oportunos: Son actualizados, periódicamente, conforme se generen; 
        i. Permanentes: Se conservan en el tiempo, para lo cual, las versiones históricas relevantes para uso público se mantendrán disponibles con identificadores adecuados al efecto; j. Primarios: Provienen de la fuente de origen con el máximo nivel de desagregación posible. </p>
        <p>XIV. Datos personales: Cualquier información concerniente a una persona física identificada o identificable. Se considera que una persona física es identificable cuando su identidad pueda determinarse directa o indirectamente a través de cualquier información como puede ser nombre, número de identificación, datos de localización, identificador en línea o uno o varios elementos de la identidad física, fisiológica, genética, psíquica, patrimonial, económica, cultural o social de la persona; </p>
        <p>XV. Datos personales sensibles: Aquellos que se refieran a la esfera más íntima de su titular, o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste. De manera enunciativa más no limitativa, se consideran sensibles los datos personales que puedan revelar aspectos como origen racial o étnico, estado de salud presente o futuro, información genética, información biométrica, creencias religiosas, filosóficas y morales, opiniones políticas y preferencia sexual; </p> 
        <p>XVI. Datos primarios: Los datos abiertos deberán provenir de la fuente de origen con el máximo nivel de desagregación posible; </p>
        <p>XVII. Derechos ARCO: Los derechos de Acceso, Rectificación, Cancelación y Oposición al tratamiento de datos personales; </p>
        <p>XVIII. Diseño Centrado en el Usuario: Principio que establece que las políticas públicas, servicios públicos y programas gubernamentales deberán contemplar las necesidades, objetivos, comportamiento y capacidades de los usuarios finales, para que, consiguiendo la mayor satisfacción y mejor experiencia posible de los mismos, se maximicen los beneficios y se detecten áreas de oportunidad para iteraciones más eficientes y efectivas; </p> 
        <p>XIX. Documento: A los expedientes, reportes, estudios, actas, resoluciones, oficios, correspondencia, acuerdos, directivas, directrices, circulares, contratos, convenios, instructivos, notas, memorandos, estadísticas o bien, cualquier otro registro que documente el ejercicio de las facultades, funciones, competencias y decisiones de los sujetos obligados, sus personas servidoras públicas e integrantes, sin importar su fuente o fecha de elaboración. Los documentos podrán estar en cualquier medio, sea escrito, impreso, sonoro, visual, electrónico, informático u holográfico; </p>
        <p>XX. Documento Electrónico: A la Información que puede constituir un documento, archivada o almacenada en un soporte electrónico, en un formato determinado y susceptible de identificación y tratamiento; </p>
        <p>XXI. Entes: Las Dependencias, Órganos Desconcentrados, Entidades Paraestatales y Alcaldías que conforman la Administración Pública de la Ciudad de México; </p>
        <p>XXII. Escalabilidad: Capacidad que deberán tener las redes, las herramientas y los sistemas digitales y tecnológicos de crecer, actualizar y ampliar sus funciones de forma modular y expansiva; </p>
        <p>XXIII. Expediente: A la unidad documental constituida por uno o varios documentos de archivo, ordenados y relacionados por un mismo asunto, actividad o trámite de los sujetos obligados; </p> 
        <p>XXIV. Expediente Electrónico: Al conjunto de documentos electrónicos cuyo contenido y estructura permiten identificarlos como documentos de archivo que aseguran la validez, autenticidad, confidencialidad, integridad y disponibilidad de la información que contienen; </p>
        <p>XXV. Firma Electrónica: Al conjunto de datos electrónicos consignados en un mensaje de datos o adjuntados al mismo, utilizados como medio para identificar a su autor o emisor; </p>
        <p>XXVI. Firma Electrónica Avanzada: A la firma electrónica que permite la identificación del signatario y ha sido creada por medios que éste mantiene bajo su exclusivo control, de manera que está vinculada al mismo. Es generada con un certificado reconocido legalmente a través de un dispositivo seguro de creación de firma y tiene, en relación a la información firmada, un valor jurídico equivalente al de la firma autógrafa; </p>
        <p>XXVII. Formatos abiertos: Datos que estarán disponibles con el conjunto de características técnicas y de presentación que corresponden a la estructura lógica usada para almacenar datos en un archivo digital, cuyas especificaciones técnicas están disponibles públicamente, que no suponen una dificultad de acceso y que su aplicación y reproducción no estén condicionadas a contraprestación alguna;  </p>
        <p>XXVIII. Gestión de datos: Los lineamientos y procesos de generación, recolección, almacenamiento, análisis, publicación, compartición, intercambio y preservación de la información generada por la Ciudad de México mediante procesos tecnológicos, administrativos y de otra índole; </p>
        <p>XXIX. Gestión de la conectividad: Generación de infraestructura de conexión entre sensores, redes de última milla, redes troncales y redes de fibra de la ciudad; así como la administración de puntos de acceso para ciudadanos y usuarios del gobierno de la ciudad; </p>
        <p>XXX. Gestión de seguridad: Tratamiento de los aspectos de seguridad de la gestión de red y de servicios, incluidos los aspectos administrativos, operacionales y de mantenimiento; </p>
        <p>XXXI. Gobernanza de la conectividad: La política de telecomunicaciones que definirá el modelo de conectividad de la Ciudad de México. El conjunto de principios, normas, reglas que conformen dicha política será definida, implementada y aplicada por la Agencia y será de observancia obligatoria para los Entes con las cuales se tenga un convenio de colaboración. En la elaboración de dicha política se prevé la participación de la Administración Pública de la Ciudad de México, el sector privado, la sociedad civil y la comunidad técnica; </p>
        <p>XXXII. Gobernanza tecnológica: Lineamientos que definan los criterios de certificación y protocolización del uso y adquisición de la tecnología en el gobierno de la Ciudad de México; </p>
        <p>XXXIII. Gobierno abierto: Modelo de relación entre los Entes, las autoridades del poder legislativo y judicial, así como con los órganos autónomos y los habitantes de la Ciudad de México, que tiene como finalidad la co-innovación tecnológica, la participación social y relacional que impulse la elaboración, implementación y evaluación de políticas públicas, servicios públicos y programas gubernamentales, de forma abierta y transparente; </p>
        <p>XXXIV. Gobierno digital: Modelo de mejora y optimización de la calidad de los bienes y servicios de la Administración Pública de la Ciudad de México, a partir del uso estratégico de las tecnologías que permita facilitar a las personas el acceso, uso y realización de trámites y servicios públicos, de manera oportuna, simplificada, efectiva y con calidad, facilitando los vínculos de colaboración y participación social. Haciendo cumplir funciones de gobierno a partir del uso estratégico de las tecnologías de la Información y la Comunicación transparente; con el fin de establecer un modelo de mejora y optimización de la calidad de los bienes y servicios de la Administración Pública de la Ciudad de México, a partir del uso estratégico de las tecnologías que permita facilitar a las personas el acceso, uso y realización de trámites y servicios públicos, de manera oportuna, simplificada, efectiva y con calidad, facilitando los vínculos de colaboración y participación social; </p>
        
        <p>XXXV. Gobierno electrónico: El uso estratégico de las Tecnologías de la Información y Comunicación por la Administración Pública de la Ciudad de México para ofrecer servicios e información a las personas de manera receptiva, eficiente y efectiva, así como para relacionarse con estas para establecer vínculos de colaboración; </p>
        <p>XXXVI. Gratuidad: Los datos abiertos deberán estar a disposición de los usuarios sin que medie ninguna contraprestación por su obtención o reproducción; sin perjuicio de lo establecido en el Código Fiscal de la Ciudad de México; </p>
        <p>XXXVII. Identificador Digital Único: Conjunto de rasgos e información inequívoca electrónica y/o digital, que permiten identificar a una persona física o moral, a partir de mecanismos de identificación; </p>
        <p>XXXVIII. Inclusión: Lineamientos, políticas públicas y programas sociales que promuevan eliminación de barreras de entrada a servicios, trámites e información digitales, bajo los principios de progresividad e inclusión, que priorice el acceso a grupos marginados o que enfrentan mayores barreras de conectividad y accesibilidad; </p>
        <p>XXXIX. Infraestructura activa: Elementos de las redes de telecomunicaciones o radiodifusión del gobierno de la Ciudad de México que almacenan, emiten, procesan, reciben o transmiten escritos, imágenes, sonidos, señales, signos o información de cualquier naturaleza; </p>
        <p>XL. Infraestructura pasiva: Elementos accesorios que proporcionan soporte a la infraestructura activa, entre otros, bastidores, cableado subterráneo y aéreo, canalizaciones, construcciones, ductos, obras, postes, sistemas de suministro y respaldo de energía eléctrica, sistemas de climatización, sitios, torres y demás aditamentos, incluyendo derechos de vía, que sean necesarios para la instalación y operación de las redes, así como para la prestación de servicios de telecomunicaciones y radiodifusión. Para efectos de esta Ley la infraestructura pasiva está referida a la del Gobierno de la Ciudad de México; </p>
        <p>XLI. Interoperabilidad: Capacidad de un componente o desarrollo tecnológico para utilizar, de forma total o parcial, componentes o resultados de otros productos tecnológicos; </p>
        <p>XLII. Interoperabilidad de redes: Capacidad de uno o varios puntos de acceso situados en las redes de los Entes para funcionar unidas sin necesidad de efectuar una conversión o modificación adicional de protocolos de comunicación; </p>
        <p>XLIII. Innovación gubernamental: Capacidad para reinventar y transformar continuamente, las instituciones, los procesos, los servicios públicos, a fin de adaptarse a las necesidades y demandas de los ciudadanos, aprovechando los distintos métodos y mecanismos de innovación y las nuevas tecnologías; </p>
        <p>XLIV. Innovación pública: Generación de modelos técnicos y económicos que sustenten la incorporación de un nuevo producto, servicio o proceso orientado a hacer eficiente el uso de recursos públicos; </p>
        <p>XLV. Jefatura de Gobierno: Jefatura de Gobierno de la Ciudad de México; </p>
        <p>XLVI. Legibilidad por máquina: Los datos abiertos deberán estar estructurados, total o parcialmente, para ser procesados e interpretados por equipos electrónicos de manera automática; </p>
        <p>XLVII. Libre uso: Característica de los datos abiertos que establece como único requisito para su uso que contengan la cita de la fuente de origen; </p>
        <p>XLVIII. Neutralidad a la competencia: Obligación del Gobierno de la Ciudad de México de actuar de manera objetiva sin generar distorsiones al mercado como consecuencia de la participación del sector público de la Ciudad de México ya sea como prestadores de servicios de telecomunicaciones y radiodifusión, o como titulares de infraestructura activa y pasiva; </p>
        <p>XLIX. Oficiales de información: La persona responsable por sector, nombrada por la persona Titular de los Entes, a petición de la Agencia, quienes tendrán a su cargo la implementación de las políticas y lineamientos establecidos en esta Ley; </p>
        <p>L. Oportunidad: Obligación de las autoridades para que los datos abiertos en posesión de los Entes sean actualizados. Los datos generados por el gobierno deberán ser actualizados periódicamente, conforme se generen en la medida de las posibilidades y de la disponibilidad de recursos humanos; materiales y financieros disponibles; </p>
        <p>LI. Participación: Promover y garantizar el máximo nivel de involucramiento y retroalimentación de la población y organizaciones de la sociedad civil, además de los beneficiarios, en las decisiones, procesos y acciones de gobierno, así como en la formulación, ejecución y evaluación de sus políticas y programas; </p>
        <p>LII. Permanencia: Los datos generados o en posesión de la Administración Pública de la Ciudad de México deberán conservarse en el tiempo, para lo cual, las versiones históricas relevantes para uso público se mantendrán disponibles con identificadores adecuados al efecto, de conformidad con lo dispuesto en la Ley de Archivos del Distrito Federal y demás normativa en la materia; </p>
        <p>LIII. Plataforma de Interoperabilidad Gubernamental: La Plataforma de intercambio de información que permite a las distintas entidades y dependencias de la Ciudad de México intercambiar información de manera segura al proporcionar un servicio estandarizado y encriptado para producir y consumir servicios de información asegurando la confidencialidad, integridad e interoperabilidad entre usuarios del sistema; </p>
        <p>LIV. Plataforma Digital del Sistema de la Ciudad de México de Infraestructura: Herramienta que permitirá el acceso a la información de infraestructura pasiva, y en su caso activa, perteneciente a los Entes del Gobierno de la Ciudad de México, susceptible de ser arrendada para la provisión de servicios de telecomunicaciones, así como dar seguimiento a solicitudes de servicios y demás procesos necesarios para la celebración de acuerdos de uso y compartición de dicha infraestructura; </p>
        <p>LV. Plataforma Digital Nacional: La Plataforma Digital Nacional del Sistema Nacional Anticorrupción establecida en la Ley General del Sistema Nacional Anticorrupción; </p>
        <p>LVI. Plataforma Digital Local: La Plataforma Digital Local referida en la Ley del Sistema Anticorrupción de la Ciudad de México; </p>
        <p>LVII. Plataforma Nacional de Transparencia: La Plataforma Nacional de Transparencia del Sistema Nacional de Transparencia establecida en la Ley General de Transparencia y Acceso a la Información Pública; </p>
        <p>LVIII. Plataforma Local de Transparencia: La Plataforma Local de Transparencia establecida en la Ley de Transparencia, Acceso a la Información Pública y Rendición de Cuentas de la Ciudad de México; 
        LIX. Plataforma Única de Gestión de Trámites y Servicios de la Ciudad de México: Conjunto de soluciones diseñadas y desarrolladas a través de una red pública que facilita acceder a la información y obtener beneficios en un solo lugar, permitiendo a los ciudadanos cumplir con sus obligaciones; <p>
        <p>LX. Red de telecomunicaciones: Sistema integrado por medios de transmisión, tales como canales o circuitos que utilicen bandas de frecuencias del espectro radioeléctrico, enlaces satelitales, cableados, redes de transmisión eléctrica o cualquier otro medio de transmisión, así como, en su caso, centrales, dispositivos de conmutación o cualquier equipo necesario; </p>
        <p>LXI. Red pública de telecomunicaciones: Red de telecomunicaciones a través de la cual se explotan comercialmente servicios de telecomunicaciones. La red no comprende los equipos terminales de telecomunicaciones de los usuarios, ni las redes de telecomunicaciones que se encuentren más allá del punto de conexión terminal; </p>
        <p>LXII. Reporte ciudadano: Toda comunicación, por cualquier vía, realizada entre el ciudadano y cualquier Ente, con el fin de denunciar la falla en algún trámite o servicio o cualquier incidente de no emergencia; </p>
        <p>LXIII. Resiliencia: Capacidad de la estructura tecnológica para recuperarse del daño que pueda provocársele; </p>
        <p>LXIV. Retroalimentación: La promoción de intercambios, cíclicos y medidos, de conocimientos e información entre personas y Entes para promover la mejora continua y la innovación en las acciones y procedimientos gubernamentales; </p>
        <p>LXV. Seguridad: Garantía normativa y tecnológica de protección y niveles diferenciados de acceso de la información contenida en los sistemas digitales de información que no sea de carácter público, en consideración de datos personales o información estratégica para el buen funcionamiento del gobierno de la ciudad; </p>
        <p>LXVI. Servicios mayoristas: Consiste en el suministro de acceso a elementos individuales, a capacidades de una red o servicios, incluyendo los de interconexión, para concesionarios o autorizados en términos de la Ley Federal de Telecomunicaciones y Radiodifusión, con la finalidad de que estos provean servicios de telecomunicaciones a los usuarios finales; </p>
        <p>LXVII. Sistema de Información Unificado: El conjunto de bases de datos y servicios tecnológicos que integrarán de manera paulatina los conjuntos de datos y sistemas de almacenamiento de información generada, recolectada y almacenada por los Entes y que permitirán el uso estratégico de la información dentro de la Administración Pública de la Ciudad de México; </p>
        <p>LXVIII. Transparencia Presupuestaria: Definición de normas específicas y ejecución de acciones concretas, con el fin de que la sociedad tenga libre acceso a información estratégica y en lenguaje sencillo sobre los procesos de planeación, programación, ejercicio, seguimiento y evaluación del presupuesto, incluyendo en materia de sus fuentes de financiamiento, que permita a la sociedad participar con información verídica, accesible y oportuna, en el seguimiento y control de las finanzas públicas y el cumplimiento de los objetivos y metas del presupuesto y de los programas del gobierno; </p>
        <p>LXIX. Transparencia proactiva: Información que genere conocimiento público útil, para disminuir las asimetrías de información, mejore los accesos a trámites y servicios y/o que optimice la toma de decisiones conforme a lo establecido en el artículo 108 de la Ley de Transparencia, Acceso a la Información Pública y Rendición de Cuentas de la Ciudad de México; y  </p>
        <p>LXX. Usabilidad: Las herramientas, procedimientos gubernamentales o interfaces de contacto ciudadano, digitales o presenciales, elaboradas por los Entes que buscarán la facilidad, sencillez, claridad y adaptabilidad de su uso por parte del usuario final de conformidad con las capacidades técnicas, económicas, administrativas y operativas de las redes del Gobierno de la Ciudad de México. </p>
        
    
     </span>
    
        </div>

        <div id="cap2">
            <h4> CAPÍTULO II DE LA AGENCIA DIGITAL DE INNOVACIÓN PÚBLICA </h4>

            <span>
                <h6>Artículo 07.</h6>
              <p> La autoridad facultada para la implementación de esta Ley y su Reglamento será la Agencia Digital de Innovación Pública de la Ciudad, en los términos establecidos en las disposiciones aplicables. </p>
            </span>
            
            <span>
                <h6>Artículo 08.</h6>
                <p> La Agencia será un órgano desconcentrado de la Administración Pública de la Ciudad, adscrita a la Jefatura de Gobierno, en términos de lo dispuesto en el Reglamento Interior del Poder Ejecutivo y de la Administración Pública de la Ciudad de México y contará con autonomía técnica, de gestión y operación. </p>
            </span>

            <span>
                <h6>Artículo 09.</h6>
                <p>La persona Titular será designada y removida libremente por el titular de la Jefatura de Gobierno. </p>
            </span>

            <span>
                <h6>Artículo 10.</h6>
                <p>. La Agencia contará con un Consejo Consultivo que tendrá las atribuciones que en la normatividad reglamentaria se señalen. 
                    El Consejo Consultivo estará conformado por siete miembros, especialistas en las materias de competencia de la Agencia. Serán designados por invitación de la persona Titular de la Agencia, su cargo tendrá una duración de dos años, será honorífico y sin ninguna remuneración. 
                    </p>
            </span>

            <span>
                <h6>Artículo 11.</h6>
                <p>El objetivo de la agencia será diseñar, coordinar, supervisar y evaluar las políticas relacionadas con la gestión de datos, el gobierno abierto, el gobierno digital, la gobernanza tecnológica y la gobernanza de la conectividad y la gestión de la infraestructura del Gobierno de la Ciudad de México. </p>
            </span>
            <span>
                <h6>Artículo 12.</h6>
                <p>
                    La Agencia se regirá bajo los principios de legalidad, transparencia, eficiencia, máxima publicidad, austeridad.
                </p>
            </span>

            <span>
                <h6>Artículo 13.</h6>

                <p>Las políticas de gestión de datos, gobierno abierto, gobierno digital, gobernanza tecnológica, gobernanza de la conectividad y gestión de la infraestructura serán coordinadas por la Agencia a partir de los Oficiales de Información. 
                    Los Oficiales de Información serán personas servidoras públicas adscritas por sector, designadas libremente por la persona Titular de los Entes, a propuesta de la Agencia. Tendrán las siguientes funciones: 
                    </p>
                <p>I. Implementar las disposiciones contenidas en las políticas de gestión de datos, gobierno abierto, gobierno digital; gobernanza tecnológica y gobernanza de la conectividad y gestión de la infraestructura; </p>
                <p>II. Vigilar el cumplimiento de las obligaciones en materia de gestión de datos; </p>
                <p>III. Vigilar el cumplimiento de las obligaciones en materia de adquisición de tecnología e implementación de soluciones tecnológicas; 
                </p>
                <p>IV. Fungir como enlace entre la Agencia y las Dependencias del sector al que se encuentren adscritos; </p>
                <p>V. Vigilar el cumplimiento de las obligaciones en materia de gobernanza de la conectividad y gestión de la infraestructura; y 
                </p>
                <p>VI. Las demás que le señalen otros ordenamientos jurídicos. 
                    Para la coordinación con las Alcaldías, éstas deberán designar un enlace con el fin de facilitar el cumplimiento de las políticas establecidas en esta Ley, así como su vinculación con la Agencia en los términos que dichas políticas y reglamentos señalen. 
                    </p>

            </span>

            <span>
                <h6>Artículo 14</h6>
                <p> La Agencia tendrá las siguientes atribuciones: </p>
                <p>I. Conducir, diseñar, coordinar, vigilar y evaluar la implementación de las políticas de gestión de datos, gobierno abierto, gobierno digital, gobernanza tecnológica, gobernanza de la conectividad y la gestión de la infraestructura, de observación obligatoria para todas las dependencias de la Administración Pública de la Ciudad en el ámbito de sus facultades; </p>
                <p>II. Coordinar, con los Entes y las autoridades federales, los mecanismos y herramientas necesarias para la implementación de las políticas de gestión de datos, gobierno abierto, gobierno digital, gobernanza tecnológica y gobernanza de la conectividad y la gestión de la infraestructura del Gobierno de la Ciudad de México; </p>
                <p>III. Diseñar, implementar y gestionar la Identificación Digital Única en coordinación con otras dependencias federales y de la Ciudad; 
                </p>
                <p>IV. Diseñar, en coordinación con los Entes, soluciones tecnológicas que permitan resolver los problemas de la Ciudad de una manera más eficiente y eficaz; </p>
                <p>V. Gestionar las plataformas de participación e incidencia ciudadana en materia de trámites y servicios de la Ciudad; </p>
                <p>VI. Diseñar, gestionar y actualizar, la Plataforma Única de Gestión de Trámites y Servicios de la Ciudad de México; </p>
                <p>VII. Diseñar, gestionar y actualizar, la Plataforma Digital del Sistema de la Ciudad de México de Infraestructura; </p>
                <p>VIII. Diseñar, coordinar y gestionar la estrategia de operación del número único de atención de la Ciudad; 
                </p>
                <p>IX. Dictaminar, en los términos que la política en la materia señale, la adquisición de tecnología de la información y la comunicación en cada Ente; </p>
                <p>X. Solicitar a cada Ente toda la información generada por los mismos, en estricto apego a las disposiciones relativas a la protección de datos personales y seguridad establecidas en las leyes y políticas en la materia; </p>
                <p>XI. Solicitar a los Entes Públicos el acceso efectivo y los activos requeridos para la instalación y operación de las redes de telecomunicaciones, así como todos los recursos y equipos auxiliares y conexos solicitados en el modo, tiempo y forma establecidos por la normatividad y políticas en la materia; </p>
                <p>XII. Realizar estudios y análisis de la información de cada Ente, de manera individual o en coordinación con otras instituciones públicas o privadas y emitir propuestas de política pública basadas en la evidencia obtenida de los mismos; </p>
                <p>XIII. Establecer, por sí misma o en colaboración con otras laboratorios de innovación en las materias de su competencia o en otras materias de interés prioritario para la Ciudad; </p>
                <p>XIV. Difundir por los medios necesarios, los estudios y análisis realizados por la Agencia, de estimarlo pertinente; </p>
                <p>XV. Coordinar actividades y proyectos con la academia, la sociedad civil y la industria en los temas relacionados con el gobierno abierto, el gobierno digital, la gestión de datos, la gobernanza tecnológica y gobernanza de la conectividad y la gestión de la infraestructura del Gobierno de la Ciudad de México; </p>
                <p>XVI. Realizar propuestas de adecuación normativa en materia de gestión de datos, gobierno abierto, gobierno digital, gobernanza tecnológica y gobernanza de la conectividad y la gestión de la infraestructura en la Ciudad; </p>
                <p>XVII. Celebrar acuerdos interinstitucionales y convenios en las materias de su ámbito de competencia; </p>
                <p>XVIII. Celebrar convenios de colaboración para el desarrollo de proyectos interinstitucionales en las materias de su ámbito de competencia; 
                </p> 
                <p>XIX. Implementar esquemas de fondeo con el único fin de satisfacer los objetivos de la presente Ley; de conformidad con la normativa aplicable; </p>
                <p>XX. Generar esquemas de cooperación técnica y económica con instituciones públicas y privadas para la satisfacción de sus objetivos; 
                </p>
                <p>XXI. Diseñar, implementar y gestionar la política y la normatividad relacionada con el acceso efectivo a los activos y recursos públicos de la Ciudad de México requeridos para la instalación, operación y crecimiento de las redes de comunicaciones y de telecomunicaciones de la Ciudad; </p>
                <p>XXII. Desarrollar y gestionar proyectos que permitan el mejor aprovechamiento de los activos y recursos públicos de la Ciudad requeridos para la instalación, operación y crecimiento de las redes de comunicaciones y de telecomunicaciones de la Ciudad; </p>
                <p>XXIII. Dirigir la política de formación de habilidades digitales en la Ciudad; </p>
                <p>XXIV. Implementar mecanismos de participación ciudadana en el diseño, la implementación y la evaluación de las políticas en materia de gestión de datos, gobierno abierto, gobierno digital, gobernanza tecnológica y gobernanza de la conectividad y la gestión de la infraestructura de la Ciudad; </p>
                <p>XXV. Cumplir todas las obligaciones en materia de protección de datos personales, transparencias, anticorrupción que las leyes señalen; 
                </p>
                <p>XXVI. Diseñar, implementar, operar, gestionar y actualizar los sistemas de información de la Ciudad; </p>
                <p>XXVII. Generar una infraestructura de datos consumible para la Ciudad que integre toda la información generada por todas las dependencias, órganos desconcentrados, alcaldías y entidades de la Administración Pública de la Ciudad; </p>
                <p>XXVIII. Fungir como autoridad en materia de mejora regulatoria y simplificación administrativa en los términos establecidos por la Ley General de Mejora Regulatoria, la Ley de Mejora Regulatoria de la Ciudad de México, y la Ley de Gobierno Digital de la Ciudad de México, teniendo bajo su responsabilidad las materias de mejora regulatoria y simplificación administrativa en la Administración Pública de la Ciudad de México. Para lo anterior, la Agencia será la encargada de promover, formular, instrumentar, ejecutar, dar seguimiento y evaluar las políticas, programas, lineamientos y acciones en materia de mejora regulatoria, simplificación administrativa, mejora de la gestión y regulación de trámites y servicios de los Entes Públicos; </p>
                <p>XXIX. Contar con un Registro Electrónico de Trámites y Servicios de la Ciudad de México, en los términos de la Ley de Mejora Regulatoria de la Ciudad de México y la Ley de Gobierno Digital de la Ciudad de México; y </p>
                <p>XXX. Las demás que le otorgue la presente ley y otros ordenamientos jurídicos. </p>

            </span>

        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>